html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;}
ul{margin: 0;padding: 0;list-style-type: none}
a{text-decoration: none}
body{font-family: '微软雅黑';font-size: 12px}
@media (min-width:641px){body{width:640px;margin:auto;}}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
input{-moz-box-sizing: border-box;box-sizing: border-box;}
.yrljg1{
    display: block;
    width: 5.9rem;
    height: 3.2rem;
    margin: 0.3rem auto 0;
    overflow: hidden;
    position: relative;
}
.yrljg1 img{
    display: block;
    width: 100%;
    height: 3.2rem;
}
.yrljg1 ul{
    display: block;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0.1rem;
    float: left;
}
.yrljg1 li{
    display: block;
    float: left;
    height: 0.4rem;
    margin-right: 0.2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 0.2rem;
}
.yrljg1 li a{
    display: block;
    overflow: hidden;
    float: left;
    padding: 0 0.15rem;
}
.yrljg1 li img{
    display: block;
    width: 0.36rem;
    height: 0.24rem;
    float: left;
    margin-top: 0.08rem;
}
.yrljg1 li span{
    display: block;
    float: left;
    font-size: 0.2rem;
    color: #fff;
    line-height: 0.4rem;
    margin-left: 0.06rem;
}
.yrljg2{
    display: block;
    width: 5.9rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0.25rem;
    border-bottom: 1px solid #e6e6e6;
}
.yrljg2 h3{
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 0.8rem;
}
.yrljg2 h3 span{
    display: block;
    float: left;
    line-height: 0.8rem;
    overflow: hidden;
    font-size: 0.3rem;
}
.yrljg2 h3 a{
    display: block;
    float: right;
    overflow: hidden;
    color: #000;
    font-weight: normal;
    font-size: 0.24rem;
}
.yrljg2 div{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg2 div span{
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    background: url("../images/star.png") no-repeat center;
    background-size: 100% 100%;
    float: left;
    overflow: hidden;
    margin-right: 0.05rem;
}
.yrljg2 div span img{
    display: block;
    width: 0.3rem;
    height: 0.3rem;
}
.yrljg2 ul{
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 0.2rem 0 0.3rem;
}
.yrljg2 li{
    display: block;
    float: left;
    border-radius: 0.05rem;
    margin-right: 0.08rem;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}
.yrljg2 li a{
    float: left;
    line-height: 0.31rem;
    color: #9d9d9d;
    display: block;
    padding: 0 0.12rem;
}
.yrljg3{
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 0.15rem solid #f2f2f2;
}
.yrljg3 ul{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg3 li{
    display: block;
    width: 5.9rem;
    height: 0.83rem;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
}
.yrljg3 li img{
    display: block;
    width: 0.28rem;
    height: 0.28rem;
    float: left;
    margin-top: 0.3rem;
    margin-right: 0.12rem;
}
.yrljg3 li span{
    display: block;
    float: left;
    overflow: hidden;
    font-size: 0.24rem;
    line-height: 0.83rem;
}
.yrljg3 li p{
    display: block;
    float: left;
    line-height: 0.83rem;
    font-size: 0.24rem;
    color: #676767;
}
.yrljg3_b{
    display: block;
    width: 5.9rem;
    margin: 0 auto;
    overflow: hidden;

}
.yrljg3_b div{
    display: block;
    float: left;
    padding: 0.14rem 0 0.28rem;
    overflow: hidden;
}
.yrljg3_b div h3{
    display: block;
    line-height: 0.61rem;
    font-size: 0.28rem;
    font-weight: normal;
}
.yrljg3_b div p{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg3_b div p img{
    display: block;
    width: 0.28rem;
    height: 0.28rem;
    float: left;
}
.yrljg3_b div p span{
    display: block;
    float: left;
    line-height: 0.28rem;
    color: #676767;
    font-size: 0.24rem;
    margin-left: 0.13rem;
}
.yrljg3_b a{
    display: block;
    float: right;
    overflow: hidden;
    margin-top: 0.17rem;
}
.yrljg3_b a img{
    display: block;
    width: 0.7rem;
    height: 0.7rem;
}
.yrljghead{
    display: block;
    width: 5.9rem;
    padding: 0 0.25rem;
    height: 0.88rem;
    line-height: 0.88rem;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
}
.yrljghead i{
    display: inherit;
    width: 0.06rem;
    height: 0.26rem;
    float: left;
    margin-top: 0.32rem;
    background: #73b820;
}
.yrljghead b{
    display: block;
    float: left;
    line-height: 0.88rem;
    margin-left: 0.07rem;
    font-size: 0.32rem;
    font-weight: normal;
}
.yrljghead a{
    display: block;
    float: right;
    /*line-height: 0.88rem;*/
    overflow: hidden;
    color: #676767;
    font-size: 0.24rem;
    font-weight: normal;
}
.yrljg4{
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 0.15rem solid #eeeeee;
}
.yrljg4con{
    display: block;
    width: 5.9rem;
    margin: 0 auto;
    overflow: hidden;
}
.yrljg4con ul{
    display: block;
    width: 6.1rem;
    overflow: hidden;
    padding: 0.3rem 0 0.23rem;
}
.yrljg4con li{
    display: block;
    width: 1.9rem;
    float: left;
    margin-right: 0.11rem;
    overflow: hidden;
}
.yrljg4con li a{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg4con li a img{
    display: block;
    width: 1.9rem;
    height: 0.9rem;
}
.yrljg4con li p{
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0.24rem;
    margin-top: 0.22rem;
    color: #676767;
}
.yrljg4con li span{
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 0.37rem;
    color: #676767;
    font-size: 0.22rem;
}
.yrljg5{
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 0.15rem solid #eeeeee;
}
.yrljg5{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg5con{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg5 li{
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
}
.yrljg5 li a{
    display: block;
    width: 5.9rem;
    padding: 0.21rem 0.25rem;
    overflow: hidden;
}
.yrljg5 li a img{
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    float: left;
    margin-top: 0.09rem;
}
.yrljg5 li a div{
    display: block;
    float: right;
    width: 4.32rem;
    overflow: hidden;
}
.yrljg5 li h3{
    display: block;
    width: 100%;
    line-height: 0.43rem;
    font-size: 0.24rem;
    overflow: hidden;
    font-weight: normal;
    color: #343434;
}
.yrljg5 li p{
    display: block;
    width: 100%;
    font-size: 0.22rem;
    overflow: hidden;
    line-height: 0.4rem;
    color: #676767;
}
.yrljg5 li span{
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 0.36rem;
    font-size: 0.2rem;
    color: #9a9a9a;
}
.yrljg6{
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 0.15rem solid #eeeeee;
}
.yrljg6con{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg6con ul{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg6con li{
    display: block;
    width: 25%;
    float: left;
    overflow: hidden;
}
.yrljg6con li a{
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.yrljg6con li a img{
    display: block;
    width: 0.45rem;
    height: 0.45rem;
    margin: 0.4rem auto 0;
}
.yrljg6con li a span{
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 0.24rem;
    line-height: 0.83rem;
    color: #000;
}
.yrljg6con li a i{
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    text-align: center;
    line-height: 0.25rem;
    color: #fff;
    font-style: normal;
    border-radius: 100%;
    background: #ff9c28;
    font-size: 0.2rem;
    position: absolute;
    right: 0.3rem;
    top: 0.2rem;
}
.yrljg7{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg7con{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg7con ul{
    display: block;
    width: 100%;
    overflow: hidden;
}
.yrljg7con li{
    display: block;
    width: 3.2rem;
    height: 1.3rem;
    float: left;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}
.yrljg7con li a{
    display: block;
    width: 100%;
    height: 1.3rem;
    overflow: hidden;
}
.yrljg7con li a img{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    float: left;
    margin: 0.4rem 0 0 0.25rem;
}
.yrljg7con li a div{
    display: block;
    width: 2.25rem;
    float: right;
}
.yrljg7con li a h4{
    display: block;
    width: 100%;
    font-weight: normal;
    margin-top: 0.23rem;
    line-height: 0.46rem;
    font-size: 0.24rem;
    color: #000;
}
.yrljg7con li a p{
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0.28rem;
    color: #676767;
    line-height: 0.46rem;
}
.yrljg7con li:last-child{
    border-bottom: none;
}
.sqjr{
    display: block;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
}
.sqjr a{
    display: block;
    width: 100%;
    line-height: 0.7rem;
    text-align: center;
    font-size: 0.28rem;
    color: #fff;
    background: #73b820;
}
.sqjr_b{
    display: block;
    width: 100%;
    height: 1.5rem;
    background: #f2f2f2;
}
.tc{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    background: rgba(0,0,0,0.5);
    display: none;
}
.tc div{
    display: block;
    width: 4.6rem;
    padding: 0.45rem;
    background: #fff;
    margin: 3rem auto 0;
    border-radius: 0.05rem;
}
.tc div h3{
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 0.6rem;
    font-size: 0.28rem;
    text-align: center;
}
.tc div p{
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0.24rem;
    line-height: 0.4rem;
}
.tc a{
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    overflow: hidden;
    margin: 1rem auto 0;
}
.tc a img{
    display: block;
    width: 0.6rem;
    height: 0.6rem;
}
.hyhead{
    display: block;
    width: 100%;

    height: 0.86rem;
    overflow: hidden;
    background: #73b820;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
}
.hyhead_b{
    display: block;
    width: 100%;
    height: 0.86rem;
}
.hyhead_l{
    display: block;
    float: left;
    width: 0.7rem;
    height: 0.86rem;
    overflow: hidden;
    margin-left: 0.25rem;
}
.hyhead_l img{
    display: block;
    width: 0.29rem;
    height: 0.25rem;
    margin: 0.06rem auto 0;
    overflow: hidden;
}
.hyhead_l span{
    display: block;
    width: 100%;
    line-height: 0.32rem;
    overflow: hidden;
    text-align: center;
    font-size: 0.22rem;
    color: #fff;
}
.hyhead_c{
    display: block;
    width: 4.5rem;
    height: 0.55rem;
    background: #fff;
    border-radius: 0.55rem;
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -2.25rem;
    margin-top: 0.14rem;
}
.hyhead_r{
    display: block;
    width: 0.46rem;
    height: 0.86rem;
    overflow: hidden;
    float: right;
    margin-right: 0.25rem;
}
.hyhead_r img{
    display: block;
    width: 0.26rem;
    height: 0.26rem;
    margin: 0.14rem auto 0;
}
.hyhead_r span{
    display: block;
    float: right;
    overflow: hidden;
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 0.35rem;
    font-size: 0.22rem;
}
.hyhead_c img{
    display: block;
    float: left;
    width: 0.29rem;
    height: 0.29rem;
    margin: 0.13rem 0 0 0.16rem;
}
.hyhead_c span{
    display: block;
    float: left;
    overflow: hidden;
    line-height: 0.55rem;
    font-size: 0.24rem;
    color: #9a9a9a;
    margin-left: 13px;
}
.htnav{
    display: block;
    width: 100%;
    overflow: hidden;
    border-bottom: 0.15rem solid #f1f1f1;
}
.htnav ul{
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 0.21rem 0;
}
.htnav li{
    width: 25%;
    margin-top: 0.11rem;
    float: left;
    overflow: hidden;
}
.htnav a{
    display: block;
    width: 100%;
    overflow: hidden;
}
.htnav li a img{
    display: block;
    width: 0.86rem;
    height: 0.86rem;
    margin: 0 auto;
}
.htnav li a span{
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
    line-height: 0.57rem;
    font-size: 0.24rem;
    color: #1c1c1c;
}
.hycon{
    display: block;
    width: 100%;
    overflow: hidden;
}
.hycon h2{
    display: block;
    width: 100%;
    height: 0.87rem;
    line-height: 0.87rem;
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
}
.hycon h2 i{
    display: block;
    float: left;
    width: 0.06rem;
    height: 0.24rem;
    background: #73b820;
    margin-top: 0.36rem;
}
.hycon h2 span{
    float: left;
    font-size: 0.26rem;
    font-weight: normal;
    margin-left: 0.19rem;
}
.hycon_con{
    display: block;
    width: 100%;
    overflow: hidden;
}
.hycon_con ul{
    display: block;
    width: 100%;
    overflow: hidden;
}
.hycon_con li{
    display: block;
    width: 5.9rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0.25rem;
    border-bottom: 0.15rem solid #f2f2f2;
}
.hycon_con h3{
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 0.8rem;
    font-size: 0.26rem;
    font-weight: normal;

}
.hycon_con h3 a{
    color: #000;
    font-weight: normal;
    display: block;
    float: left;
}
.hycon_con h3 b{
    display: block;
    width: 1.02rem;
    height: 0.31rem;
    background: #fff3e3;
    border: 1px solid #ffd59f;
    float: left;
    border-radius: 0.05rem;
    margin: 0.25rem 0 0 0.15rem;
}
.hycon_con h3 img{
    display: block;
    width: 0.22rem;
    height: 0.22rem;
    float: left;
    margin: 0.04rem 0 0 0.07rem;
}
.hycon_con h3 span{
    display: block;
    float: left;
    overflow: hidden;
    color: #ff9102;
    line-height: 0.31rem;
    font-size: 0.2rem;
    font-weight: normal;
    margin-left: 0.06rem;
}
.hycon_con dl{
    display: block;
    width: 100%;
    overflow: hidden;
}
.hycon_con dd{
    display: block;
    float: left;
    padding: 0 0.09rem;
    background: #f5f5f5;
    line-height: 0.31rem;
    font-size: 0.2rem;
    color: #9d9d9d;
    border: 1px solid #e0e0e0;
    border-radius: 0.05rem;
    margin-right: 0.08rem;
}
.hycon1{
    display: block;
    width: 5.38rem;
    border: 1px solid #73b820;
    border-radius: 0.2rem;
    height: 0.18rem;
    position: relative;
    margin-top: 0.24rem;
}
.hycon1 span{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 0.18rem;
    font-size: 0.18rem;
    color: #73b820;
}
.hycon1 i{
    display: block;
    width: 1.93rem;
    height: 0.18rem;
    background: #73b820;
}
.hycon2{
    display: block;
    float: left;
    overflow: hidden;
    margin: 0.25rem 0 0.32rem;
}
.hycon2 img{
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    margin-left: 0.03rem;
    float: left;
}
.hycon2 p{
    font-size: 0.2rem;
    line-height: 0.2rem;
    color: #727272;
    float: left;
    margin-left: 0.16rem;
    width: 5.5rem;
}
.hycon2 p span{
    margin-left: 0.05rem;
    margin-right: 0.15rem;
}
.chylisthead{
    display: block;
    width: 100%;
    background: #fff;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0.86rem;
    z-index: 20;
}
.chylisthead_b{
    display: block;
    width: 100%;
    height: 0.75rem;
}
.chylisthead div{
    width: 50%;
    overflow: hidden;
    float: left;
    background: url("../images/hylist2.png") no-repeat 2rem center;
    background-size: 0.18rem 0.1rem;
}
.chylisthead .choice{
    width: 50%;
    overflow: hidden;
    float: left;
    background: url("../images/hylist1.png") no-repeat 2rem center;
    background-size: 0.18rem 0.1rem;
}
.chylisthead div a{
    display: block;
    width: 100%;
    height: 0.75rem;
    text-align: center;
    line-height: 0.75rem;
    font-size: 0.24rem;
    color: #343434;
}
.chylisthead
.hylist{
    display: block;
    width: 100%;
    overflow: hidden;
}
.hylist ul{
    display: block;
    width: 100%;
    overflow: hidden;
}
.hylist li{
    display: block;
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-top: 0.15rem solid #f1f1f1;
}
.hylist li a{
    display: block;
    width: 5.9rem;
    margin: 0 auto;
    padding: 0.1rem 0.25rem;
}
.hylist_l{
    display: block;
    float: left;
    width: 1rem;
    height: 1rem;
    margin-top: 0.42rem;
}
.hylist_r{
    display: block;
    width: 4.6rem;
    float: right;
    overflow: hidden;
}
.hylist_r h3{
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 0.78rem;
    font-size: 0.26rem;
    font-weight: normal;
    color: #343434;
}
.hylist_r h3 span{
    display: block;
    float: left;
}
.hylist_r b{
    display: block;
}
.hylist_r h3 b{
    display: block;
    width: 0.82rem;
    height: 0.31rem;
    background: #f3ffe4;
    border: 1px solid #c3e69a;
    float: left;
    border-radius: 0.05rem;
    margin: 0.22rem 0 0 0.15rem;
}
.hylist_r h3 img{
    display: block;
    width: 0.22rem;
    height: 0.22rem;
    float: left;
    margin: 0.04rem 0 0 0.07rem;
}
.hylist_r h3 i{
    display: block;
    float: left;
    overflow: hidden;
    color: #79bb29;
    line-height: 0.31rem;
    font-size: 0.2rem;
    font-weight: normal;
    margin-left: 0.06rem;
    font-style: normal;
}
.hylist_r dl{
    display: block;
    width: 100%;
    overflow: hidden;
}
.hylist_r dd{
    display: block;
    float: left;
    padding: 0 0.09rem;
    background: #f5f5f5;
    line-height: 0.31rem;
    font-size: 0.2rem;
    color: #9d9d9d;
    border: 1px solid #e0e0e0;
    border-radius: 0.05rem;
    margin-right: 0.08rem;
}
.hylist_r div{
    display: block;
    width: 100%;
    padding: 0.24rem 0 0.3rem;
    overflow: hidden;
}
.hylist_r div img{
    display: block;
    width: 0.2rem;
    height: 0.24rem;
    float: left;
}
.hylist_r div p{
    display: block;
    width: 4.26rem;
    float: right;
    color: #717171;
}
.hylistsx1{
    display: none;
    position: fixed;
    left: 0;
    top: 1.61rem;
    width: 100%;
	height: 100%;
    background: #fff;
    border-top: 1px solid #dddddd;
}
.hylistsx2{
    display: none;
    position: fixed;
    left: 0;
    top: 1.61rem;
    width: 100%;
    background: #fff;
    border-top: 1px solid #dddddd;
}
.hylistsx_l{
    display: block;
    width: 25%;
    float: left;
}

.hylistsx_l li{
    line-height: 0.62rem;
    background: #f8f8f8;
    text-indent: 0.25rem;
}
.hylistsx_l li a{
    color: #676767;
}
.hylistsx_l .choice {
    background: #fff;
}
.hylistsx_center{
    display: block;
    width: 35%;
    float: left;
}
.hylistsx_center li{
    line-height: 0.62rem;
    background: #f8f8f8;
    text-indent: 0.25rem;
}
.hylistsx_center li a{
    color: #676767;
}
.hylistsx_center .choice {
    background: #fff;
}
.hylistsx_r{
    display: block;
    width: 40%;
    float: right;
}
.hylistsx_r li{
    line-height: 0.62rem;
    /*background: #f8f8f8;*/
    text-indent: 0.25rem;
}
.hylistsx_r li a{
    color: #676767;
}
.hylistsx_r .choice {
    background: #fff;
}
.hylistsxc{
    z-index: 20;
}
.mb{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
}
.hylistsx_l{
    height: calc(100% - 1.61rem);
    overflow-y:auto;
}
.hylistsx_center{
    height: calc(100% - 1.61rem);
    overflow-y:auto;
}
.hylistsx_r{
    height: calc(100% - 1.61rem);
    overflow-y:auto;
}































































