.poster-main-box{
    background: #F0676C;
    color: #101010;
    padding: 2.3rem 0.5rem 0.75rem 0.5rem;
}
.poster-main-top{
    border-radius: 0.5rem  0.5rem  0  0;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 0.75rem;
    position: relative;
}
.poster-main-center{
    border-radius: 0  0  0.5rem  0.5rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 0.5rem 1.4rem 1.4rem 1.4rem;
    position: relative;
}
.poster-img{
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 239, 229, 1);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: 40%;
    top: -1.5rem;
}
.poster-main p{
    padding: 0.2rem 0;
}
.poster-name{
    padding: 0.2rem 0;
    text-align: center;
    color: #828282;
    font-size: 12px;
}
.poster-name span{
    color: #F0676C;
}
.poster-title{
    font-size: 22px;
    text-align: center;
    padding: 0.4rem 0;
    font-weight: bold;
}
.poster-title1{
    text-align: center;
    color: #828282;
}
.poster-img1{
    width: 100%;
    height: 8.4rem;
}
.save-qrcode{
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    /* background-color: rgba(16, 16, 16, 1); */
    text-align: center;
}
.save-qrcode .save-img{
    height: 9rem;
}
.save-qrcode span{
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
}
.main-center-title{
    font-weight: bold;
    padding: 0.5rem 0.2rem;
}
.main-center-danwei{
    overflow: hidden;
}
.center-danwei-img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: red;
}
.center-danwei-name{
    font-size: 16px;
    padding-left: 1rem;
    line-height: 2rem;
}
.actfooter {
    width: 100%;
    background: #FFF;
    border-top: 1px solid #B3B3B3;
    padding-bottom: 10px;
}
.actfooter .tishi{
    font-size: 12px;
    color: #828282;
    padding: 0.2rem 0.2rem;
}
.actfooter .btnbox{
    display: flex;
    justify-content: space-around;
}
.actfooter .nav{
    padding: 1rem;
}
.actfooter i{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin: 0 0.2rem;
}
.btnbox button{
    width: 8.4rem;
    height: 2.2rem;
    border-radius: 22px;
    font-size: 14px;
    text-align: center;
    border: 1px solid rgba(115, 184, 31, 1);
}
.btnsave{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(115, 184, 31, 1);
}
.btnisue{
    background-color: rgba(115, 184, 31, 1);
    color: #ffffff;
}
.background6C{
    background: #F0676C;
}
.backgroundA6{
    background: #FEEDA6;
}
.backgroundE4{
    background: #DDFAE4;;
}
.backgroundE9{
    background: #FFE9E9;
}
.background00{
    background: #FCCA00;
}
.backgroundFF{
    background: #59DBFF;
}
.background1F{
    background: #73B81F;
}
.backgroundFB{
    background: #D2EDFB;
}
.share_div{width: 100%;height: 100%;overflow: hidden;background: url(../../wap/img/bjtm.png);background-size: 100% 100%;position: fixed;left: 0;top: 0;z-index: 999999;display: none}
.share_up{width: 100%;height: 100%;overflow: hidden;position: fixed;left: 0;top: 0;}
@media (min-width:641px){.actfooter{width:640px;margin:auto!important;}}