.warp_pws_g{
    padding: 0px;margin-bottom: 0px;
}
.warp_pws_g li{
    padding-left:3%;width: 97%;
}
.warp_pws_g li a{
    padding-right: 0px;
    background: none;
}
.warp_pws_g li a b{
    font-size: 8px;
}
.checkbox-div{
    height: 54px;
    line-height: 54px;
    width: 10%;
    float: right;
    margin-bottom: 0px;
}
input[type="checkbox"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 20px;
    height:20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #27b63f;
    text-indent: 10px;
    line-height: 1;
}
input[type="checkbox"]:checked + label::before {
    background-color: #27b63f;
    background-clip: content-box;
    padding: .1em;
    width: 1.2em;
    height: 1.2em;
}
input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label{
    float: right;width: 90%;text-align: right;font-size: 16px;color: #000000;
}
.downbtn-warp{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100%;
}
.screenButList .search_input{
    width: 70%;
    height: 30px;
    color: rgba(136, 136, 136, 1);
    border: 1px solid rgba(115, 184, 31, 1);
    margin-right: 10px;
}
.screenButList .search_button{
    width: 20%;
    height: 30px;
    border-radius: 4px;
    background-color: rgba(115, 184, 31, 1);
    color: rgba(255, 255, 255, 1);
}
.check-box{
    height: 50px;
    width: 10%;
    position: absolute;
    top: 3rem;
    left: 0.5rem;
}
.radio{
    height: 20px;
    width: 20px;
    background: red;
}