@font-face {
  font-family: 'iconfont';  /* project id 1542429 */
  src: url('//at.alicdn.com/t/font_1542429_upwthy30yvs.eot');
  src: url('//at.alicdn.com/t/font_1542429_upwthy30yvs.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1542429_upwthy30yvs.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1542429_upwthy30yvs.woff') format('woff'),
  url('//at.alicdn.com/t/font_1542429_upwthy30yvs.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1542429_upwthy30yvs.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-didian:before {
  content: "\e6bb";
}

.icon-tianjiajiahaowubiankuang:before {
  content: "\e81a";
}

.icon-fangdajing:before {
  content: "\e627";
}

.icon-renwu:before {
  content: "\e626";
}

.icon-shanchu:before {
  content: "\e694";
}

.icon-add:before {
  content: "\e762";
}

.icon-wenhao:before {
  content: "\e648";
}

.icon-duigou:before {
  content: "\e613";
}

.icon-icon_shang:before {
  content: "\e61f";
}

.icon-icon_xia:before {
  content: "\e620";
}

.icon-icon_you:before {
  content: "\e621";
}

.icon-icon_zuo:before {
  content: "\e623";
}

.icon-icon_weitijiao:before {
  content: "\e629";
}

.icon-naozhong:before {
  content: "\e68e";
}
.icon-cha1:before {
  content: "\e809";
}
.icon-liwu:before {
  content: "\e608";
}
