ol, ul{list-style:none;}
li{list-style-type:none}
.clear {height:0; clear:both;}
.clearfix { *zoom:1;}
.clearfix:after{clear:both; display:block; height:0; visibility:hidden; line-height:0; content:'\20';}

.container{
    overflow:hidden;
}
.sendHistoryHead{
    background-color:#fff;
}
/*黄色警告条*/
.tmc_warning{
    font-size:14px;
    line-height:.34rem;
    color: #f77206;
    padding:.14rem .14rem;
    background-color: #f7c87d;
}

/*时间进度*/
.tme_progress_left{
    color:#666;
    float:left;
    line-height:.5rem;
    padding:.1rem .2rem;
}
.tme_progress_right{
    margin-left:35%;
    padding:.2rem;
}
.tme_progress_list{
    width:100%;
    float:left;
    font-size:.24rem;
    line-height:.3rem;
    padding-left:.2rem;
    padding-bottom:.7rem;
    position:relative;
    border-left:1px solid #eee;
}
.tme_progress_right .tme_progress_list:last-child{
    border-left:0;
    padding-bottom:.2rem;
}
.tme_progress_list i{
    display:inline-block;
    width:.24rem;
    height:.24rem;
    border-radius:50%;
    background-color:#eee;
    position:absolute;
    left:-.12rem;
    top:0;
}
.tme_progress_list strong{
    float:left;
}
.tme_progress_list span{
    float:right;
}
.tme_progress_right.on .tme_progress_list span{
    display:none;
}
.tmt_progress .tme_progress_left,.tmt_progress .tme_progress_right{
    padding-bottom:0;
}

.tme_progress_list_1.ao{border-left:1px solid #72b81e;}
.tme_progress_list_1.ao i{background-color:#72b81e;}
.tme_progress_right.on .tme_progress_list_1.ao span{display:inline-block}

.tme_progress_list_2.ao{border-left:1px solid #72b81e;}
.tme_progress_list_2.ao i{background-color:#72b81e;}
.tme_progress_list_2.bo{border-left:1px solid #72b81e;}
.tme_progress_list_2.bo i{background-color:#72b81e;}
.tme_progress_right.on .tme_progress_list_2.ao span{display:inline-block}
.tme_progress_right.on .tme_progress_list_2.bo span{display:inline-block}
.tme_progress_list_2.red.bo{color:#f03727;}

.tme_progress_list_3.ao{border-left:1px solid #72b81e;}
.tme_progress_list_3.ao i{background-color:#72b81e;}
.tme_progress_list_3.bo{border-left:1px solid #72b81e;}
.tme_progress_list_3.bo i{background-color:#72b81e;}
.tme_progress_list_3.co{border-left:1px solid #72b81e;}
.tme_progress_list_3.co i{background-color:#72b81e;}
.tme_progress_right.on .tme_progress_list_3.ao span{display:inline-block}
.tme_progress_right.on .tme_progress_list_3.bo span{display:inline-block}
.tme_progress_right.on .tme_progress_list_3.co span{display:inline-block}
.tme_progress_list_3.red.co{color:#f03727;}

.tme_progress_list_4.ao{border-left:1px solid #72b81e;}
.tme_progress_list_4.ao i{background-color:#72b81e;}
.tme_progress_list_4.bo{border-left:1px solid #72b81e;}
.tme_progress_list_4.bo i{background-color:#72b81e;}
.tme_progress_list_4.co{border-left:1px solid #72b81e;}
.tme_progress_list_4.co i{background-color:#72b81e;}
.tme_progress_list_4.do{border-left:1px solid #72b81e;}
.tme_progress_list_4.do i{background-color:#72b81e;}
.tme_progress_right.on .tme_progress_list_4.ao span{display:inline-block}
.tme_progress_right.on .tme_progress_list_4.bo span{display:inline-block}
.tme_progress_right.on .tme_progress_list_4.co span{display:inline-block}
.tme_progress_right.on .tme_progress_list_4.do span{display:inline-block}



/*微调加减*/
.warp_pws_c_sp {
    margin: .2rem 0;
}
.warp_pws_c_sp b{
    display: block;
    font-weight:bold;
    color: #000000;
    line-height: .34rem;
    float: left;
}
.task_sub_list_wrap .warp_pws_c_sp b{
    font-weight:normal;
}
.warp_pws_c_sp b span{
    color:#999;
    font-weight:normal;
}
.spinner {
    height: .3rem;
    float: right;
    overflow: hidden;
}
.spinner .decrease {
    width: .3rem;
    height: .3rem;
    border: 0;
    background: url(../../wap/img/pws_99.png) no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    display: block;
    float: left;
    outline: none;
    line-height: 1rem;
}
.spinner .increase {
    width: .3rem;
    height: .3rem;
    border: 0;
    background: url(../../wap/img/pws_100.png) no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
    display: block;
    float: left;
    outline: none;
    line-height: 1rem;
}
.spinner .increase[disabled='disabled']{
    opacity:.5;
}
.spinner .spinnerExample,.spinner .spinnerExample1,.spinner .spinnerExampleB {
    width: .5rem;
    height: .3rem;
    line-height: .3rem;
    border: 0;
    float: left;
    color: #999999;
    text-align: center;
}


/*tab和搜索框*/
.tem_tab_wrap{
    padding:.1rem 0;
}
.tem_tab_list{
    width:50%;
    text-align:center;
}
.tem_tab_list span{
    display:inline-block;
    padding:0 .4rem;
    line-height:.5rem;
    border-bottom:2px solid transparent;
}
.tem_tab_list.on span{
    font-weight:bold;
    color:#72b81e;
    border-bottom-color:#72b81e;
}
.tem_search_wrap{
    padding:.2rem;
}
.tem_search{
    position:relative;
    border:1px solid #72b81e;
}
.tem_search input{
    display:inline-block;
    width:100%;
    line-height:.6rem;
    padding-right:1.4rem;
    padding-left:.05rem;
}
.tem_searchBtn{
    display:inline-block;
    position:absolute;
    right:0;top:0;bottom:0;
    width:1.2rem;
    background:#72b81e url("../../wap/img/pws_999.png") no-repeat center;
    background-size:auto 60%;
}


/*底部编辑按钮*/
.tem_enroll_editors{
    position:fixed;
    left:0;bottom:0;right:0;
    padding:.14rem .2rem;
    box-shadow:0 0 6px rgba(238,238,238,1);
    background-color:#fff;
}
.tem_enroll_editors button{
    padding:0 .14rem;
    color:#999
}
.tem_enroll_editors button.on{
    color:#000;
}
.tem_enroll_editors.on button{
    color:#000;
}


/*多选左侧按钮*/
.tem_enroll_radios{
    display:inline-block;
    width:.3rem;
    height:.3rem;
    border-radius:50%;
    float:left;
    margin-right:.16rem;
    margin-top:.6rem;
    background:url("../../wap/img/pws_319.png") no-repeat center;
    background-size:cover;
}
.tem_enroll_radios.on{
    background:url("../../wap/img/pws_318.png") no-repeat center;
    background-size:cover;
}


/*评价内容*/
.tmeSubText{
    margin:.1rem 0;
    padding:.1rem .2rem;
    background-color:#f2f2f2;
    line-height:.4rem;
}
/*textarea*/
.tmc_textarea{
    padding:.2rem;
}
.tmc_textarea textarea{
    display:block;
    width:100%;
    height:1.97rem;
    background-color:#fff;
    border:1px solid #eee;
    padding:.05rem .1rem;
    line-height:.4rem;
}

/*图片九宫格*/
.tme_imgs_wrap{
    padding:.2rem;
}
.tme_imgs{
    margin-top:.2rem;
}
.temImg,.tme_evaluate_imgs{
    width:30%;
    padding-bottom:30%;
    float:left;
    margin-right:5%;
    margin-bottom:3%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.temImg.on{
    background-size:contain;
}
.tme_imgs .temImg:nth-child(3n){
    margin-right:0;
}
.tme_evaluate_list .tme_evaluate_imgs:nth-child(3n){
    margin-right:0;
}
.tim_uploadImgs .warp_pws_m_sy:nth-child(3n){
    margin-right:0;
}

/*星级别*/
.tme_evaluate{
    padding:.1rem .2rem;
}
.tme_evaluate_list{
    width:100%;
    float:left;
    padding:.1rem 0;
}
.tme_evaluate_list strong{
    float:left;
    max-width:50%;
    line-height:.4rem;
}
.tme_evaluate_list span{
    float:right;
}
.tme_evaluate_list span i{
    display:inline-block;
    width:.3rem;
    height:.3rem;
    margin-left:.1rem;
    vertical-align:middle;
    background:url("../../wap/img/pws_53.png") no-repeat center;
    background-size:contain;
    opacity:.3;
}
.tme_evaluate_list span i.on{
    opacity:1;
}
.tme_evaluate_list span b{
    line-height:.4rem;
}
.adminEvaluateTitle{
    color:#999;
    font-size:.24rem;
    line-height:.5rem;
}
.tme_evaluate_list p{
    line-height:.4rem;
}
.tema_stars_list i{
    display:inline-block;
    width:.3rem;
    height:.3rem;
    margin-right:.1rem;
    vertical-align:middle;
    background:url("../../wap/img/pws_53.png") no-repeat center;
    background-size:contain;
    opacity:.3;
}
.tema_stars_list i.on{
    opacity:1;
}


/*成员列表*/
.tem_enroll_list{
    padding:.2rem;
    margin-bottom:.3rem;
    border-bottom:1px solid #eee;
    position:relative;
}
.tem_enroll_list .tem_enroll_radios{
    display:none;
}
.tem_enroll_list.on .tem_enroll_radios{
    display:inline-block;
}
.tem_enroll_list .tem_enroll_top{
    margin-left:0;
}
.tem_enroll_list.on .tem_enroll_top{
    margin-left:.46rem;
}

.tem_enroll_user{
    display:inline-block;
    width:.9rem;
    height:.9rem;
    float:left;
    border-radius:50%;
    background:no-repeat center;
    background-size:cover;
    margin-right:.2rem;
}
.tem_enroll_name{
    margin-left:1.1rem;
}
.tem_enroll_name h2{
    font-size:.28rem;
    line-height:.56rem;
    position:relative;
}
.tem_enroll_question_tog{
    position:absolute;
    right:0;top:0;
}
.tem_enroll_question_tog span{
    font-size:.24rem;
    color:#72b81e;
}
.tem_enroll_question_tog button{
    display:inline-block;
    padding:0 .3rem;
    border-radius:.4rem;
    height:.44rem;
    border:1px solid #f07730;
    color:#f07730;
    font-size:.24rem;
    line-height:1;
}
.tem_enroll_name p{
    width:100%;
    line-height:.34rem;
}
.tem_enroll_name p strong{
    float:left;
}
.tem_enroll_name p span{
    display:block;
    margin-left:1.1rem;
}
