/* CSS Document */
@charset "utf-8";
/***公共样式****/
body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, small, u, i, center, dl, dt, dd, ol, ul, li,  sub, sup, tt, var, del, dfn,  ins, kbd, q, s, samp,  strike, applet, object, iframe, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, div, header, hgroup, menu, nav, output, ruby, section, summary, time, blockquote, pre, a, abbr, acronym, address, big, cite, code, mark, audio, video, input, textarea, select { margin:0; padding:0;}
ol, ul{list-style:none;}
img{border:0; display:inline-block;max-width:100%;}
input, button, textarea, select,a{ font-size:100%; outline:none; resize:none;border:none;background:none;-webkit-tap-highlight-color:transparent}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
table{ border-collapse: collapse; border-spacing: 0; border:none;width:100%;}
body { font-size:14px; font-family:"Microsoft YaHei",SimHei,"Arial",Arial,Helvetica,sans-serif;color:#666;background-color:#fff;background-repeat:no-repeat;background-position:center;background-size:cover;}
html {-webkit-text-size-adjust:none;}
i,em{font-style:normal;}
.clear {height:0; clear:both;}
.clearfix { *zoom:1;}
.clearfix:after{clear:both; display:block; height:0; visibility:hidden; line-height:0; content:'\20';}
/*边距*/
*{box-sizing:border-box;    -webkit-box-sizing:border-box;    -moz-box-sizing:border-box;    -o-box-sizing:border-box;}
/*a 链接*/
a { text-decoration:none; outline:none;display:block;}
a:link {color:#666; }
a:visited {color:#999; }
a:hover, a:active, a:focus {color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
::-webkit-input-placeholder {color: #999;}:-moz-placeholder {color: #999;}::-moz-placeholder {color: #999;}:-ms-input-placeholder {color: #999;}

.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.flex{display:flex;}
.justCenter{justify-content:space-between;}
.contents{width:1200px;margin:0 auto;}
.wrap{padding-top:40px;}
html,body{
    width:100%;
    height:100%;
}
.preserveWrap{
    height:100%;
}
.preserveImg{/*
    height:calc(100% - 2.5rem);*/
    margin:.2rem;
    padding:.2rem;
    border-radius:8px;
    box-shadow:0 0 .2rem #F2F2F2;
    text-align: center;
}
.preserveUse{
    text-align:center;
    padding-top:.4rem;
}
.preserveUse i{
    display:inline-block;
    width:.8rem;
    height:.8rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.preserveUseName{
    font-size:.3rem;
    line-height:.5rem;
    text-align:center;
}
.preserveTitle{
    font-size:.34rem;
    line-height:.5rem;
    text-align:center;
    padding-top:.3rem;
    color:#000;
}
.preserveBase{
    text-align:center;
    font-size:0;
}
.preserveBase i,.preserveBase span{
    width: 80%;
    display:inline-block;
    vertical-align:middle;
    font-size:.24rem;
    line-height:.4rem;
    color:#666;
}
.preserveBase i{
    display:inline-block;
    width:.34rem;
    height:.34rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    margin-right:.1rem;
}
.preserveEWM{
    padding:0.3rem 0 .2rem;
    text-align:center;
}
.preserveEWM img{
    display:inline-block;
    width:30%;
    height:auto;
}
.preserveEWMDetail{
    font-size:.24rem;
    line-height:1;
    text-align:center;
    padding-bottom:.4rem;
    color:#999;
}

.preserveButWrap{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:.4rem;
}
.preserveButton{
    width:40%;
    height: auto;
    font-size:.24rem;
    line-height:.6rem;
    border-radius:.4rem;
    background-color:#72b81e;
    color:#fff;
    text-align:center;
    margin:0 .1rem;
}
.preserveButton:first-child{
    color:#333;
    background-color:#efefef;
}
.preserveCompanyA,.preserveCompanyB{
    font-size:.24rem;
    line-height:.4rem;
    text-align:center;
}
.share_div{width: 100%;height: 100%;overflow: hidden;background: url(../../wap/img/bjtm.png);background-size: 100% 100%;position: fixed;left: 0;top: 0;z-index: 999999;display: none}
.share_up{width: 100%;height: 100%;overflow: hidden;position: fixed;left: 0;top: 0;}