html,body{
    background-color:#F2F2F2;
}
.container{
    padding-top:.7rem;
}
.sendHistoryHead{
    background-color:#fff;
    border-bottom:1px solid #eee;
    position:fixed;
    left:0;top:0;right:0;
    z-index:40000;
}
.sendHistoryHead.on{
    z-index:50000;
}
.h70{
    height:.7rem;
}
.commendSelectList{
    padding:.14rem .3rem;
    background-color:#fff;
    border-bottom:1px solid #eee;
}
.commendSelectList a{
    line-height:.5rem;
}
.commendSelectList span input[type='text']{
    text-align:right;
}
.icon_right{
    display:inline-block;
    width:.2rem;
    height:.24rem;
    margin-top:.13rem;
    margin-left:.1rem;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}

.commendPersonaList{
    padding:0 .3rem .2rem;
    background-color:#fff;
    margin-top:.1rem;
    overflow:hidden;
}
.commendPersonaList h2{
    font-size:.24rem;
    line-height:.6rem;
}
.commendPersonaListTxt textarea{
    display:inline-block;
    width:100%;
    min-height:.5rem;
    padding:.05rem .1rem;
    line-height:.4rem;
    border:1px solid #eee;
}
.strLimit{
    position:relative;
}
.strLimit textarea{
    padding-bottom:.5rem;
}
.strTxt{
    position:absolute;
    right:.1rem;bottom:0;
    font-size:.24rem;
    line-height:.5rem;
    color:#666;
}
.commendPersonalImg{
    display:inline-block;
    width:1.4rem;
    height:1.4rem;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
}
.commendPersonalImg i{
    display:inline-block;
    width:.28rem;
    height:.28rem;
    position:absolute;
    right:-.1rem;
    top:-.1rem;
    background:url("../../wap/img/pws_95.png") no-repeat center;
    background-size:contain;
}
.commendPersonalImg input[type='file']{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    left:0;top:0;right:0;bottom:0;
    opacity:0;
}
.commendPersonaList h3{
    font-size:.24rem;
    line-height:.6rem;
    text-align:center;
    color:#72b81e;
    margin:.3rem 0;
    padding:.1rem;
    border:1px solid #72b81e;
    border-radius:4px;
}
.commendPersonaList h3 i,.commendPersonaList h3 span{
    display:inline-block;
    vertical-align:middle;
}
.commendPersonaList h3 i{
    width:.3rem;
    height:.3rem;
    background:url("../../wap/img/pws_239.png") no-repeat center;
    background-size:contain;
    margin-right:.1rem;
    position:relative;
    margin-top:-.06rem;
}
.commendPersonalUser{
    position:relative;
    padding:.14rem .2rem;
    border:1px solid #eee;
    margin-bottom:.2rem;
}
.commendPersonalUser b{
    display:inline-block;
    width:.5rem;
    height:.5rem;
    border-radius:50%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    float:left;
}
.commendPersonalUser span{
    float:left;
    padding:.05rem 0;
    padding-left:.2rem;
    padding-right:.4rem;
    line-height:.4rem;
}
.commendPersonalUser i{
    width:.3rem;
    height:.3rem;
    background:url("../../wap/img/pws_185.png") no-repeat center;
    background-size:contain;
    position:absolute;
    right:.2rem;
    top:50%;
    margin-top:-.15rem;
}


.warp_hd_t_bo1,.warp_hd_t_bo2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index:50000;;
    display: none;
}
.warp_hd_t_bo1{
    /*display:block;*/
}
.warp_hd_t_bi {
    /*overflow: hidden;*/
    padding: 0 3%;
    line-height: 40px;
    border-bottom: 1px solid #E6E6E6;
    position:relative;
}
.warp_hd_t_bi span {
    display: block;
    float: left;
    font-size: 16px;
    color: #000000;
}
.warp_hd_t_bi a {
    display:inline-block;
    position:absolute;
    right:0;top:0;bottom:0;
    padding:0 .6rem;
    background: #F2F2F2 url(../../wap/img/pws_117.png) no-repeat center;
    background-size: auto 22%;
}
.SelectSearchButton{
    display:inline-block;
    position:absolute;
    right:0;top:0;bottom:0;
    padding:0 .6rem;
    background: #72b81e url(../../wap/img/pws_999.png) no-repeat center;
    background-size: auto 50%;
}
.commendSelectWrap{
    /*max-height:70%;*/
    overflow-y:auto;
}
.warp_hd_t_bu {
    width: 100%;
    overflow: hidden;
    padding: 4% 0 1% 0;
}

.warp_hd_t_bu li {
    width: 29.3%;
    overflow: hidden;
    float: left;
    margin: 0 0 3% 3%;
}

.warp_hd_t_bu li.cla span {
    border: 1px solid #72B81E;
    background: url(../../wap/img/pws_219.png) no-repeat right top;
    background-size: 22px 18px;
}

.warp_hd_t_bu li span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #000000;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
}
.warp_hd_t_bu1{
    width: 100%;
    overflow: hidden;
    padding: 4% 0 1% 0;
}
.warp_hd_t_bu1 li {
    display:block;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    margin-bottom:3%;
}
.warp_hd_t_bu1 li.cla span {
    border: 1px solid #72B81E;
    background: url(../../wap/img/pws_219.png) no-repeat right top;
    background-size: 8%;
}
.warp_hd_t_bu1 li span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #000000;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
}
.warp_hd_t_bu2{
    padding-bottom:.2rem;
}
.warp_hd_t_bu2 li{
    padding:.3rem .3rem;
    overflow: hidden;
    border-bottom:1px solid #eee;
}
.warp_hd_t_bu2 li strong{
    display:inline-block;
    width:.4rem;
    height:.4rem;
    margin-top:.1rem;
    border-radius:50%;
    float:left;
    border:1px solid #ddd;
}
.warp_hd_t_bu2 li.on strong{
    border:none;
    background:url("../../wap/img/pws_276_on.png") no-repeat center;
    background-size:contain;
}
.warp_hd_t_bu2 li b{
    display:inline-block;
    width:.6rem;
    height:.6rem;
    border-radius:50%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    float:left;
    margin-left:.2rem;
}
.warp_hd_t_bu2 li span{
    float:left;
    padding-left:.2rem;
    line-height:.6rem;
}
.warp_hd_t_by {
    width: 40%;
    float: left;
    margin: 10px 5%;
    height: 46px;
    border: 0;
    background: #72B81E;
    color: #FFFFFF;
    font-size: 16px;
    display: block;
}
.warp_hd_t_by_1 {
    width: 40%;
    float: left;
    margin: 10px 5%;
    height: 46px;
    border: 0;
    background: #72B81E;
    color: #FFFFFF;
    font-size: 16px;
    display: block;
}
.warp_hd_t_bt {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url(../../wap/img/bjtm.png);
}
.warp_hd_t_br {
    width: 100%;
    min-height:90%;
    overflow-y:auto;
    position: fixed;
    left: 0;
    bottom: 0;
    top:.7rem;
    background: #FFFFFF;
    z-index:100;
    padding-bottom:70px;
}
.organSelectListWrap{
    /*max-height:3rem;*/
    overflow-y:auto;
    display:none;
}
.organSelectListWrap ul li{
    padding:0.3rem 3%;
    line-height:.4rem;
    position:relative;
    border-bottom:1px solid #eee;
}
.organSelectListWrap ul li:after{clear:both; display:block; height:0; visibility:hidden; line-height:0; content:'\20';}
.organSelectListWrap ul li span,.organSelectListWrap ul li i{
    display:inline-block;
    vertical-align:middle;
}
.mechanismName{
    float:left;
}
.mechanismPeople{
    float:right;
}
.mechanismIcon{
    display: inline-block;
    float:right;
    width: .2rem;
    height: .24rem;
    margin-top:.08rem;
    margin-left:.1rem;
    background:url("../../wap/img/pws_102.png") no-repeat center;
    background-size:contain;
}
.organSelectTabWrap{
    margin-top:.2rem;
}
.organSelectTab{
    width:50%;
    float:left;
    padding:.1rem 0;
    text-align:center;
}
.organSelectTab button{
    display:inline-block;
    padding:0 .1rem;
    line-height:.5rem;
}
.organSelectTab.on button{
    border-bottom:2px solid #72b81e;
}
.companyBtnWrap{
    position:absolute;
    left:0;bottom:0;right:0;
    background-color:#fff;
    z-index:30000;
}

/*团体获奖*/
.commendTeamListTxt .commendPersonalUser{
    padding-left:0;
}
.commendTeam_search{
    margin:.2rem 0 0;
    height:.7rem;
    border:1px solid #eee;
    position:relative;
}
.commendTeam_search input[type='text']{
    display:inline-block;
    width:100%;
    height:100%;
    line-height:.68rem;
    padding:0 .1rem;
    padding-right:1rem;
}
.teamSearchButton{
    display:inline-block;
    position:absolute;
    right:0;top:0;bottom:0;
    padding:0 .6rem;
    background: #72b81e url(../../wap/img/pws_999.png) no-repeat center;
    background-size: auto 50%;
}
.commendTeamSelect{
    /*margin-top:.3rem;*/
}
.commendTeamSelect ul li{
    padding:.2rem 0;
    line-height:.4rem;
    border-bottom:1px solid #eee;
}
