<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>公益上海</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" href="../wap/css/dropload.css"/>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/activity_order.css"/>
    <style>
        .dropload-load {
            width: 20px;
            height: 20px;
            background: url() no-repeat center;
            background-size: 20px 20px;
            margin: 20px auto;
            font-size: 14px;
            line-height: 18px;
            padding-left: 24px;
            text-indent: -9999px
        }

        .dropload-noData {
            text-align: center;
            font-size: 14px
        }

        .warp_dd_o_su {
            width: 34%
        }

        .warp_dd_o_su div {
            width: 90px;
            margin: auto
        }

        .map_xp_p {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 999999;
            background: #FFFFFF;
            display: none
        }

        .map_xp_o {
            width: 30px;
            height: 30px;
            background: url(../wap/img/pws_223.png) no-repeat center;
            position: fixed;
            right: 3%;
            top: 1%;
            z-index: 9999999
        }

        .map_xp_o a {
            display: block;
            width: 30px;
            height: 30px;
        }

        .left {
            width: 100%
        }

        .container {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 12px
        }

        .dropload-down {
            height: auto
        }

        .zw_sj_p img {
            padding-top: 30%
        }
    </style>
</head>
<body>
<div id="activityOrder">
    <div class="order-header">
        <span>公益上海</span>
        <a href="#" class="curremt">
            <img src="../wap/img/pws_281.png" style="width: auto;height: 20px;">
            <i id="nums"></i>
        </a>
    </div>
    <header class="warp_dd_p" style="border-bottom: 1px solid #BBBBBB;">
        <a href="#" onclick="jump('../post/personal_post_list.html')">
            <span>岗位订单</span>
        </a>
        <a href="#" onclick="jump('../task/task_myOrder.html')">
            <span>任务订单</span>
        </a>
        <a href="#" class="current" onclick="jump('myjoin.html')">
            <span>活动订单</span>
        </a>
        <a href="#" onclick="jump('../post/personal_post_history_list.html')">
            <span>历史订单</span>
        </a>
    </header>
    <div class="screenButList screenButList1" style="margin-top: 3px;border-top: 0px;">
        <input type="search" v-model="searchFrom.searchValue" class="search_input" id="name_input" placeholder="请输入机构或活动名称来搜索" style="height:30px;-webkit-appearance:none;border-radius:0px;padding-left: 5px;">
        <input type="button" class="search_button" @click="search" style="-webkit-appearance:none;border-radius:0px;">
    </div>
    <div  id="content">
        <ul>
            <li class="order-list" v-for="(item, index) in recordList" :key="index">
                <div class="order-title">
                    <span>{{item.name}}</span>
                    <span class="titler" :class='"titler" + item.type'>{{item.type | orderState(item.state)}}</span>
                </div>
                <p style="clear:both">所属活动：{{item.activityName}}</p>
                <p><i class="iconfont icon-naozhong"></i>{{item.startTime | capture(0, 16)}}-{{item.startTime | capture(11, 16)}}</p>
                <p><i class="iconfont icon-didian"></i>{{item.address}}</p>
                <p><i class="iconfont icon-renwu"></i>上海悠活网络科技有限公司</p>
                <p style="position: relative;"><i class="iconfont icon-liwu"></i>核销后可赠送{{item.point}}积分
                    <span v-if="item.type == 30 && item.state == 10">（管理员扫描票证二维码进行核销）</span>
                    <span v-if="item.type == 30 && item.state == 20"> | 09:00已核销</span v-if="item.type == 30 && item.state == 10">
                    <span v-if="item.type == 80 && item.state == 10" class="checkIn" @click="adminCheck(item.ticket)">我要签到</span>
                </p>
                <div style="color:#828282">管理员工作提示：1、必须在场次开始前半小时到达报到地点2、活动当天尽量穿正装</div>
                <ul>
                    <li class="ticketlist" v-for="(item1, index1) in item.publicList" :key="index1">
                        <p class="ticket-title">{{item1.name}}</p>
                        <p><i class="iconfont icon-didian"></i>{{item1.publicAddress}}</p>
                        <p class="statistics"><i class="iconfont icon-shuangren"></i>
                            <span>已核销：{{item1.checkCount}}</span>
                            <span>已领取：{{item1.applyCount}}</span>
                            <span>共发放：{{item1.total}}</span>
                        </p>
                        <p class="oforderbox">
                            <span v-if="item.type == 80" class="oforder1F">添加临时管理员</span>
                            <span v-if="item.type == 80" class="oforder" @click="scanCode">扫一扫</span>
                        </p>
                    </li>
                </ul>
                <div class="oforderbox">
                    <span v-if="item.type == 30 && item.state == 0" class="oforder" @click="cancelorder(item.ticket)">取消订单</span>
                    <span v-if="item.type == 30 && item.state == 10" class="oforder1F" @click="donation()">转赠</span>
                    <span v-if="item.type == 30 && item.state == 20" class="oforder" href="./admin_evaluate.html">评价</span>
                    <span v-if="item.type == 30 && (item.state == 10 || item.state == 20)" class="oforder">票证二维码</span>
                </div>
            </li>
        </ul>
        <div class="dropload-downs" v-if="dropload">
            <div class="dropload-noData">没有啦~</div>
        </div>
    </div>
    <!------底部开始------>
    <div id='footer'></div>
    <!------底部结束------>
</div>
<script type="text/javascript" src="../wap/js/jquery.js"></script>
<script type="text/javascript" src="../wap/js/config.js"></script>
<script type="text/javascript" src="../wap/js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script src="../wap/js/dropload.min.js"></script>
<script type="text/javascript" src="../wap/Layer.m/layer.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=uRhBKfzW36pGW8KGkyAhpwXDYwmjNcZP&s=1"></script>

<script>
 // $("#footer").load("../public/footer.html");
 var vueIM = new Vue({
    el: '#activityOrder',
    data () {
        return {
            dropload: false,
            recordList: [],
            publicList: null,
            searchFrom: {
                status: 1, // 票证标识
                user: "" + JSON.parse($.cookie('user_msg')).userId, // 用户标识
                searchValue: '', // 搜索值
                current: 0, // 当前页
                size: 5 // 页容量
            }
        };
    },
    filters: {
        capture: function (value, start, end) {
            return value= value.substring(start, end);
        },
        orderState (type, state) {
            console.log(type, state);
            // state状态 -10作废 待审核0 10待使用 20使用中 30已结算
            // type票类型 30公众票证 80场次管理员
            if (type == 30) {
                switch (state) {
                    case -10:
                        return "作废";
                    case 0:
                        return "待审核票证";
                    case 10:
                        return "待核销票证";
                    case 20:
                        return "已核销票证";
                    case 30:
                        return "已结算";
                }
            }
            if (type == 80) {
                switch (state) {
                    case 10:
                        return "待签到管理员";
                    case 20:
                        return "已签到管理员";
                }
            }
            if (type == 90) {
                return "临时管理员"
            }
        }
    },
    mounted () {
        this.init();
    },
    methods: {
        init (){
            //滑动加载更多
            var that = this;
            $('#content').dropload({
                scrollArea : window,
                loadDownFn : function(me){
                    $(".dropload-down").remove();
                    that.searchFrom.current++
                    $.ajax({
                        xhrFields: {
                        withCredentials: true
                        },
                        type:"post",
                        url: base_url +  'html5/v2/activity/userTicket/getListByUser',
                        data:JSON.stringify(that.searchFrom),
                        headers : {'token': $.cookie('token')},
                        dataType:'json',
                        contentType: "application/json;charset=utf-8",
                        success:function(data){
                            console.log(data.data.records);
                            if(data.data.records.length > 0){
                                for (let i = 0; i < data.data.records.length; i++) {
                                    that.recordList.push(data.data.records[i]);
                                }
                                console.log(that.recordList);
                            } else {
                                me.lock();
                                // 无数据
                                me.noData();
                                that.dropload = true;
                            }
                            that.$nextTick(() => {
                                me.resetload();
                            })
                        },
                        error: function(xhr, type){
                            //alert('Ajax error!');
                            // 即使加载出错，也得重置
                            me.resetload();
                        }
                    })
                }
            })
        },
        search () {
            var that = this;
            that.searchFrom.current = 1;
            $.ajax({
                xhrFields: {
                withCredentials: true
                },
                type:"post",
                url: base_url +  'html5/v2/activity/userTicket/getListByUser',
                data:JSON.stringify(that.searchFrom),
                headers : {'token': $.cookie('token')},
                dataType:'json',
                contentType: "application/json;charset=utf-8",
                success:function(data){
                    console.log(data.data.records);
                    if(data.data.records.length > 0){
                        that.recordList = data.data.records;
                        console.log(that.recordList);
                    } else {
                        that.dropload = true;
                    }
                }
            })
        },
        // 取消订单
        cancelorder (ticket) {
            layer.open({
                content: '当前票证正在审核中，您确定要取消吗？'
                , btn: ['确定', '取消']
                , yes: function (index) {
                    $.ajax({
                        xhrFields: {
                        withCredentials: true
                        },
                        type:"post",
                        url: base_url +  'html5/v2/activity/userTicket/cancel',
                        data:JSON.stringify({ticket: ticket}),
                        headers : {'token': $.cookie('token')},
                        dataType:'json',
                        contentType: "application/json;charset=utf-8",
                        success:function(data){
                            console.log(data.code);
                            if (data.code == 0) {
                                location.href = "javascript:location.replace(location.href)";
                            }
                        }
                    })
                }
                ,
            })
        },
        // 我要签到
        adminCheck (ticket) {
            var that = this;
            $.ajax({
                xhrFields: {
                withCredentials: true
                },
                type:"post",
                url: base_url +  'html5/v2/activity/sectionPublic/adminCheck',
                data:JSON.stringify({ticket: ticket, checkAdmin: JSON.parse(localStorage.getItem('prjvorgMsg')).prjvUserId}),
                dataType:'json',
                contentType: "application/json;charset=utf-8",
                success:function(data){
                    console.log(data.data);
                }
            })
        },
        // 调用微信扫一扫
        getWxConfig(){
            var wwwurl = location.href.split('#')[0];
            $.ajax({
                xhrFields: {
                    withCredentials: true
                },
                type:"post",
                url:base_url + "html5/v1/wechat/getWeChatJsSign",
                data:JSON.stringify({"url":wwwurl}),
                async:false,
                dataType:'json',
                contentType: "application/json;charset=utf-8",
                success:function(data){
                    if(data.code==0){
                        var data1 = JSON.parse(data.data.data);
                        //sessionStorage.setItem('WxConfig',data1); //获取WX配置信息
                        wx.config({
                            debug: false,
                            appId: data1.appId, // 必填，公众号的唯一标识
                            timestamp:parseInt(data1.timestamp), // 必填，生成签名的时间戳
                            nonceStr: data1.nonceStr, // 必填，生成签名的随机串
                            signature: data1.signature,// 必填，签名，见附录1
                            jsApiList: ['checkJsApi','scanQRCode'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                        });
                    }
                },
                error:function(e){
                    layer.open({
                        content: '获取失败'
                        ,skin: 'msg'
                        ,time: 1 //2秒后自动关闭
                    });
                    return false;
                }
            })
        },
        // 扫一扫
        scanCode () {
            var that = this;
            wx.scanQRCode({
                needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType : ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success : function(res) {
                    var result = res.resultStr;
                    //$("#arriveAddress").html(result+","+user_msg.prjvUserId);
                    $.ajax({
                        xhrFields: {
                            withCredentials: true
                        },
                        type:"post",
                        url: base_url + "html5/v1/admin/scan/s",
                        data:JSON.stringify({
                            /*"qrCode":result,
                            "firstAccount":user_msg.prjvUserId,
                            "recruitCode":""*/
                            "activityCode": $_GET['activityCode'],
                            "sectionCode": sectionCode,
                            "firstAccount": user_msg.prjvUserId,
                            "qrCode": result,
                            "lnglat": lnglat
                        }),
                        headers : {'token':token},
                        dataType:'json',
                        contentType: "application/json;charset=utf-8",
                        success:function(data){
                            if(data.code==200){//跳转
                                location.href = data.data.url;
                            }else if(data.code==0){
                                alert(data.msg);
                            }else{
                                alert(data.msg);
                            }
                        },
                        error:function(){
                            alert("失败");
                        }
                    })
                }
            });
        },
        // 转赠
        donation () {
            window.location.href ="./order_transfer.html"
        }
    }
})

</script>
</body>
</html>
