<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>发布活动</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/activity_order.css"/>
    <link rel="stylesheet" type="text/css" href="../post/RightMenu/smartMenu.css"/>
    <script type="text/javascript" src="js/rem.js"></script>
    <style>
        .yh-group .l{
            font-size: 14px;
        }
    </style>
</head>
<body>
<div id="mylaunch">
    <header class="mint-header">
        <div class="mint-header-button text-l"><a class="icon-back" href="javascript:history.go(-1);"></a></div>
        <h1 class="mint-header-title">活动订单</h1>
        <div class="mint-header-button text-r"></div>
    </header>
    <div class="warp_dd_p" style="padding:0;">
        <a class="current" href="#" onclick="jump('../post/personal_post_list.html')">
            <span>我发起</span>
        </a>
        <a href="#" onclick="jump('../task/task_myOrder.html')">
            <span>我参与</span>
        </a>
        <a href="#" onclick="jump('../post/personal_post_history_list.html')">
            <span>历史订单</span>
        </a>
    </div>
    <div class="screenButList screenButList1" style="margin-top: 3px;border-top: 0px;">
        <input type="search" class="search_input" id="name_input" placeholder="请输入机构或活动名称来搜索" style="height:30px;-webkit-appearance:none;border-radius:0px;padding-left: 5px;">
        <input type="button" class="search_button" value="" style="-webkit-appearance:none;border-radius:0px;">
    </div>
    <div  id="content">
    <ul>
        <li class="order-list" v-for="(item, index) in recordList" :key="index">
            <div class="my-order-title">
                <span>{{item.name}}</span>
            </div>
            <p><i class="iconfont icon-naozhong"></i>{{item.startDay}} 至 {{item.endDay}}</p>
            <p><i class="iconfont icon-didian"></i>{{item.address}}</p>
            <div class="oforderbox">
                <span class="more" :data-code='item.activityCode'>更多</span>
                <span class="oforderF9"  @click="goActivityPoster">海报</span>
                <span class="oforder1F" @click="goDownData">下载数据</span>
                <span class="oforder">取消订单</span>
            </div>
            <div class="yh-group" @click="showSession = !showSession">
                <span class="l">票证场次信息</span>
                <span>共{{item.sectionGeneralVoList.length}}个场次<i class="iconfont icon-icon_you"></i></span>
            </div>
            <ul v-if="showSession">
                <li v-for="(item1, index1) in item.sectionGeneralVoList" :key="index1">
                    <div class="yh-group-noborder">
                        <span class="l">{{item1.day}} {{item1.startTime}}-{{item1.endTime}}</span>
                        <p>
                            <a class="textF9" :href='"./postActivity.html?activityCode="+item.activityCode+"&copy=false"'>复制</a>
                            <a class="text1F" :href='"./amend-session.html?day="+item1.day+"&startTime="+item1.startTime+"&endTime="+item1.endTime+"&sectionCode="+item1.sectionCode'>修改</a>
                            <span class="text6C" @click="cancel(item1.sectionCode)">取消</span>
                        </p>
                    </div>
                    <div class="yh-group-noborder" @click="goOrdertickInfo(item.activityCode)">
                        <span class="l">该场次下的票证</span>
                        <span>共{{item1.sectionPublicNum}}种<i class="iconfont icon-icon_you"></i></span>
                    </div>
                    <div class="yh-group-noborder" @click="goOrderadmin(item1.sectionCode)">
                        <span class="l">该场次下的票证核销管理员</span>
                        <span>共{{item1.sectionManagerNum}}个<i class="iconfont icon-icon_you"></i></span>
                    </div>
                </li>
            </ul>
            <div class="yh-group">
                <span class="l">岗位信息</span>
                <span>共{{item.postVoList.length}}个场次<i class="iconfont icon-icon_you"></i></span>
            </div>
            <ul>
                <li class="order-list" v-for="(item2, index2) in item.postVoList" :key="index2">
                    <div class="my-order-title">
                        <span>{{item.name}}</span>
                    </div>
                    <p><i class="iconfont icon-naozhong"></i>{{item.startDay}}{{item.endDay}}</p>
                    <p><i class="iconfont icon-didian"></i>{{item.address}}</p>
                    <div class="oforderbox">
                        <span class="oforder">接触关联</span>
                    </div>
                </li>
            </ul>
            <div class="yh-group">
                <span class="l">任务信息</span>
                <span>共{{item.subTaskVoList.length}}个场次<i class="iconfont icon-icon_you"></i></span>
            </div>
            <ul>
                <li class="order-list" v-for="(item3, index3) in item.subTaskVoList" :key="index3">
                    <div class="my-order-title">
                        <span>{{item.name}}</span>
                    </div>
                    <p><i class="iconfont icon-naozhong"></i>{{item.startDay}}{{item.endDay}}</p>
                    <p><i class="iconfont icon-didian"></i>{{item.address}}</p>
                    <div class="oforderbox">
                        <span class="oforder">接触关联</span>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="dropload-down" v-if="dropload">
        <div class="dropload-noData">没有啦~</div>
    </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../wap/js/jquery.js"></script>
<script type="text/javascript" src="../post/RightMenu/jquery-smartMenu.js"></script>
<script type="text/javascript" src="../wap/js/config.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="../wap/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../wap/Layer.m/layer.js"></script>
<script src="../wap/js/dropload.min.js"></script>
<script>
var vueIM = new Vue({
    el: '#mylaunch',
    data () {
        return {
            showSession: false,
            recordList: [],
            dropload: false,
            searchFrom: {
                orgCode: JSON.parse(localStorage.getItem('prjvorgMsg')).cookieResp.un, // 机构账户标识
                current: 0, // 当前页
                size: 5 // 页容量
            },
            moreMenuData:[[
                {
                    text: "修改活动基本信息",
                    func: function () {
                        window.location.href="./activityinfo.html?activityCode=" + $(this).data("code") + "&amendbase=base";
                    }
                },
                {
                    text: "修改活动参与方",
                    func: function () {
                        window.location.href="./amend-unit.html?activityCode=" + $(this).data("code") + "&amendunit=unit";
                    }
                },
                {
                    text: "取消活动",
                    func: function () {
                        let json = {
                            activityCode: $(this).data("code")
                        };
                        layer.open({
                            content: '活动取消后，该活动下所有票证将同时取消；如有关联岗位/任务，将会取消关联；如要取消岗位/任务，请到岗位/任务模块操作；确认要取消吗？'
                            , btn: ['确认', '取消']
                            , yes: function (index) {
                                $.ajax({
                                    url: base_url + 'html5/v2/activity/cancel',
                                    type: "post",
                                    dataType: "json",
                                    data: JSON.stringify(json),
                                    headers: {'Content-Type': 'application/json'},
                                    success: function (res) {
                                        console.log(res);
                                        layer.closeAll();
                                    }
                                });
                            }
                            ,
                        })
                    }
                },
                {
                    text: "监管通知",
                    func: function () {
                        window.location.href="./supervise-inform.html"
                    }
                },
                {
                    text: "待审核事项",
                    func: function () {
                        window.location.href="./checkitem.html?activityCode=" + $(this).data("code");
                    }
                },
            ]]
        };
    },
    mounted () {
        this.getselectPublish();
    },
    methods: {
        init (){
            var _this= this;
            $(".more").each(function(){
                var that=$(this);
                var offsetWidth=$(window).width() - that.offset().left - that.outerWidth();
                if(offsetWidth<200){
                    that.smartMenu(_this.moreMenuData,{offsetX:-100, textLimit: 8});
                }else {
                    if(window.innerWidth<640){
                        that.smartMenu(_this.moreMenuData, {textLimit: 8});
                    }else{
                        that.smartMenu(_this.moreMenuData,{offsetX:-parseInt(that.offset().left)/1.7, textLimit: 8});
                    }

                }
            });
        },
        getselectPublish () {
            var that = this;
            $('#content').dropload({
                scrollArea : window,
                loadDownFn : function(me){
                    $(".dropload-down").remove();
                    that.searchFrom.current++
                    $.ajax({
                        xhrFields: {
                        withCredentials: true
                        },
                        type:"post",
                        url: base_url +  'html5/v2/activity/selectPublish',
                        data:JSON.stringify(that.searchFrom),
                        headers : {'token': $.cookie('token')},
                        dataType:'json',
                        contentType: "application/json;charset=utf-8",
                        success:function(data){
                            console.log(data.data);
                            if(data.data.records.length > 0){
                                for (let i = 0; i < data.data.records.length; i++) {
                                    that.recordList.push(data.data.records[i]);
                                }
                                console.log(that.recordList);
                                that.$nextTick(() => {
                                    that.init();
                                });
                            } else {
                                me.lock();
                                // 无数据
                                me.noData();
                                that.dropload = true;
                            }
                            that.$nextTick(() => {
                                me.resetload();
                            })
                        },
                        error: function(xhr, type){
                            //alert('Ajax error!');
                            // 即使加载出错，也得重置
                            me.resetload();
                        }
                    })
                }
            })
        },
        // 取消场次
        cancel (sectionCode) {
            $.ajax({
                url: base_url + 'html5/v2/activity/section/cancel',
                type: "post",
                dataType: "json",
                data: JSON.stringify({sectionCode: sectionCode}),
                headers: {'Content-Type': 'application/json'},
                success: function (res) {
                    console.log(res);
                }
            });
        },
        fuzhi () {
            window.location.herf="./postActivity.html"
        },
        // 去票证
        goOrdertickInfo (activityCode) {
            window.location.href="./order-ticketInfo.html?activityCode=" + activityCode;
        },
        // 去管理员
        goOrderadmin (sectionCode) {
            window.location.href="./order-administrator.html?sectionCode=" + sectionCode;
        },
        // 海报
        goActivityPoster () {
            window.location.href="./activityPoster.html";
        },
        goDownData () {
            window.location.herf="./download_data.html";
        },
        // 修改场次
        amendsession () {
            console.log("Aa");
            window.location.herf = "./amend-session.html";
        },
    }
})
</script>
</html>
