<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>发布活动</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/activity_order.css">
    <script type="text/javascript" src="js/rem.js"></script>
</head>
<body>
<div id="orderAdministrator">
    <header class="mint-header" style="border-bottom: 1px solid #bbb;">
        <div class="mint-header-button text-l"><a class="icon-back" href="javascript:history.go(-1);"></a></div>
        <h1 class="mint-header-title">管理员</h1>
        <div class="mint-header-button text-r"></div>
    </header>
    <div class="sessionTime" @click="gonewadmin(detailList.sectionCode, detailList.managerCode)">
        <span class="l">场次：{{detailList.startTime | capture(0, 16)}}-{{detailList.endTime | capture(11, 16)}}</span>
        <span class="r"><i class="iconfont icon-tianjiajiahaowubiankuang"></i> 添加新管理员</span>
    </div>
    <div class="paragraph">
        <p>报到地点：{{detailList.arriveAddress}}</p>
        <p>管理员工作提示：</p>
        <p>{{detailList.content || "无"}}</p>
        <div class="yh-group-nopadding">
            <span>签到后积分赠送：{{detailList.point}}</span>
            <span class="color6C" @click="goamendadmin(detailList.sectionCode, detailList.managerCode)">修改</span>
        </div>
    </div>
    <ul style="margin-top: 5px;">
        <li class="adminList" v-for="(item, index) in publicApplyVoList" :key="index">
            <div class="fl adminleft">
                <div class="imgbox">
                    <img :src="item.headImg" alt="">
                </div>
                <div class="adminname">
                    <p>{{item.nickName}}</p>
                    <p class="smallFont">{{item.checkTime || "暂未"}}签到</p>
                </div>
            </div>
            <div class="adminbtnbox fr">
                <span class="oforder" @click="kickOut(item.ticket)">剔除</span>
                <span class="oforder1F"><a :href='"tel:"+item.mobile'>联系</a></span>
            </div>
        </li>
    </ul>
    <div v-if="publicApplyVoList.length ==0" class="textcenter">暂无管理员</div>
</div>
</body>
<script type="text/javascript" src="../wap/js/jquery.js"></script>
<script type="text/javascript" src="../wap/js/config.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="../wap/js/jquery.cookie.js"></script>
<script>
var vueIM = new Vue({
    el: '#orderAdministrator',
    data () {
        return {
            searchFrom: {
                sectionCode: this.getUrlParam('sectionCode'), //
                current: 1, // 当前页
                size: 20 // 页容量
            },
            addFrom: {
                applyCodeList: [],
                state: null,
            },
            detailList: {},
            publicApplyVoList: []
        };
    },
    created () {
        this.getAdminList();
    },
    filters: {
        capture: function (value, start, end) {
            if (value) {
                return value= value.substring(start, end);
            }
        }
    },
    methods: {
        getUrlParam (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        },
        getAdminList () {
            var that = this;
            $.ajax({
                url: base_url + 'html5/v2/activity/sectionManager/getPage',
                type: "post",
                dataType: "json",
                data: JSON.stringify(that.searchFrom),
                headers: {'Content-Type': 'application/json'},
                success: function (res) {
                    console.log(res.data);
                    that.detailList = res.data;
                    that.publicApplyVoList = res.data.publicApplyVoList;
                }
            });
        },
        // 修改积分
        goamendadmin (sectionCode, managerCode) {
            window.location.href="./amendadministrator.html?sectionCode=" + sectionCode +
            "&managerCode=" + managerCode + "&amend=amend";
        },
        // 添加新管理员
        gonewadmin (sectionCode, managerCode) {
            window.location.href="./new-administrator.html?sectionCode=" + sectionCode +
            "&managerCode=" + managerCode + "&amend=amend";
        },
        // 剔除
        kickOut (ticket) {
            var that = this;
            $.ajax({
                url: base_url + 'html5/v2/activity/sectionManager/kickOut',
                type: "post",
                dataType: "json",
                data: JSON.stringify({ticket: ticket}),
                headers: {'Content-Type': 'application/json'},
                success: function (res) {
                    console.log(res.data);
                }
            });
        },
    }
})
</script>
</html>
