<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>发布活动</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/activity_order.css"/>
    <link rel="stylesheet" type="text/css" href="../post/RightMenu/smartMenu.css"/>
    <script type="text/javascript" src="js/rem.js"></script>
</head>
<body>
<div id="orderTicketInfo">
    <header class="mint-header">
        <div class="mint-header-button text-l"><a class="icon-back" href="javascript:history.go(-1);"></a></div>
        <h1 class="mint-header-title">票证信息</h1>
        <div class="mint-header-button text-r"></div>
    </header>
    <div class="sessionTime" @click="goticketinformation()">
        <span class="l" v-if="detailList.length>0">场次：{{detailList[0].endTime | capture(0, 16)}}-{{detailList[0].startTime | capture(11, 16)}}</span>
        <span class="r"><i class="iconfont icon-tianjiajiahaowubiankuang"></i> 添加新票证</span>
    </div>
    <ul style="padding-right: 1rem;">
        <li class="ticketlist" v-for="(item, index) in detailList" :key="index">
            <p class="ticket-title">{{item.name}}</p>
            <p><i class="iconfont icon-didian"></i>{{item.publicAddress}}</p>
            <p class="statistics"><i class="iconfont icon-shuangren"></i>
                <span>已核销：{{item.checkCount}}</span>
                <span>已领取：{{item.applyCount}}</span>
                <span>共发放：{{item.total}}</span>
            </p>
            <p class="oforderbox">
                <span class="more" :data-code='item.pubCode'>更多</span>
                <span class="oforderF9" @click="amendticketinformation(item.sectionCode, item.pubCode)">修改票证</span>
                <span class="oforder1F">扫一扫</span>
                <span class="oforder" @click="gomanagementpersonnel()">人员管理</span>
            </p>
        </li>
    </ul>
</div>
</body>
<script type="text/javascript" src="../wap/js/jquery.js"></script>
<script type="text/javascript" src="../wap/js/config.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="../post/RightMenu/jquery-smartMenu.js"></script>
<script type="text/javascript" src="../wap/Layer.m/layer.js"></script>
<script type="text/javascript" src="../wap/js/jquery.cookie.js"></script>
<script>
var vueIM = new Vue({
    el: '#orderTicketInfo',
    data () {
        return {
            searchFrom: {
                activityCode: this.getUrlParam('activityCode'), // 机构标识
                current: 1, // 当前页
                size: 20 // 页容量
            },
            detailList: [],
            moreMenuData:[[
                {
                    text: "取消票证",
                    func: function () {
                        let json = {
                            pubCode: $(this).data("code")
                        };
                        layer.open({
                            content: '确认要取消吗？'
                            , btn: ['确认', '取消']
                            , yes: function (index) {
                                $.ajax({
                                    url: base_url + 'html5/v2/activity/sectionPublic/cancel',
                                    type: "post",
                                    dataType: "json",
                                    data: JSON.stringify(json),
                                    headers: {'Content-Type': 'application/json'},
                                    success: function (res) {
                                        console.log(res);
                                        layer.closeAll();
                                    }
                                });
                            }
                            ,
                        })
                    }
                },
                {
                    text: "添加临时管理员",
                    func: function () {
                        // window.location.href="./activityinfo.html?activityCode=" + $(this).data("code") + "&amendunit=unit";
                    }
                },
            ]]
        };
    },
    created () {
        this.getPublicList();
    },
    filters: {
        capture: function (value, start, end) {
            return value= value.substring(start, end);
        }
    },
    methods: {
        init (){
            var _this= this;
            $(".more").each(function(){
                var that=$(this);
                var offsetWidth=$(window).width() - that.offset().left - that.outerWidth();
                if(offsetWidth<200){
                    that.smartMenu(_this.moreMenuData,{offsetX:-100, textLimit: 8});
                }else {
                    if(window.innerWidth<640){
                        that.smartMenu(_this.moreMenuData, {textLimit: 8});
                    }else{
                        that.smartMenu(_this.moreMenuData,{offsetX:-parseInt(that.offset().left)/1.7, textLimit: 8});
                    }

                }
            });
        },
        getUrlParam (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        },
        getPublicList () {
            var that = this;
            $.ajax({
                url: base_url + 'html5/v2/activity/getPublicList',
                type: "post",
                dataType: "json",
                data: JSON.stringify(that.searchFrom),
                headers: {'Content-Type': 'application/json'},
                success: function (res) {
                    console.log(res.data.records);
                    that.detailList = res.data.records;
                    that.$nextTick(() => {
                        that.init();
                    });
                }
            });
        },
        // 添加新票证
        goticketinformation () {
            let day = this.detailList[0].startTime.substring(0, 10);
            let startTime = this.detailList[0].startTime.substring(11, 16);
            let endTime= this.detailList[0].endTime.substring(11, 16);
            window.location.href="./ticketinformation.html?day=" + day + "&startTime=" + startTime + "&endTime=" + endTime + "&form=orderticketInfo";
        },
        // 修改票证
        amendticketinformation (sectionCode, pubCode) {
            let day = this.detailList[0].startTime.substring(0, 10);
            let startTime = this.detailList[0].startTime.substring(11, 16);
            let endTime= this.detailList[0].endTime.substring(11, 16);
            window.location.href="./ticketinformation.html?day=" + day +
            "&startTime=" + startTime + "&endTime=" + endTime + "&form=orderticketInfo"+
            "&sectionCode="+sectionCode + "&pubCode="+pubCode;
        }
    }
})
</script>
</html>
