<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>填写活动信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../wap/css/index.css" />
    <script type="text/javascript" src="js/rem.js"></script>
    <style>
        .warp_ci {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            position: fixed;
            left: 100%;
            top: 0;
            background: #FFFFFF;
            z-index: 99
        }
        .warp{
            width: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div id="setadministrator">
    <header class="mint-header">
        <div class="mint-header-button text-l"><a class="icon-back" href="javascript:history.go(-1);"></a></div>
        <h1 class="mint-header-title">设置管理员</h1>
        <div class="mint-header-button text-r"></div>
    </header>
    <div class="period">场次：{{addFrom.day}} {{addFrom.startTime}}-{{addFrom.endTime}}</div>
    <div class="yh-group" style="border-top: 1px solid #bbb;">
        <span class="l">报到地点</span>
        <a href="javascript:;" class="warp_dd">
            <textarea placeholder="请选择" id="address" readonly="readonly" disabled="disabled"></textarea>
        </a>
        <input type="hidden" id="lat" value="">
        <input type="hidden" id="lng" value="">
        <input type="hidden" id="addressId" value="">
    </div>
    <div class="yh-group-bolster">
        <div class="t">管理员工作提示<span>(选填，不超过300个汉字)</span></div>
        <div><textarea v-model="addFrom.content" placeholder="例如：1、必须在场次开始前半小时到达报到地点2、活动当天尽量上传正装"></textarea></div>
    </div>
    <div class="yh-group" style="border: none">
        <span class="l">积分赠送<span style="color:#bbbbbb;">（每人每次）</span></span>
        <div class="jiajian">
            <i class="iconfont icon-icon_weitijiao"></i>
            <input v-model="addFrom.point" type="text" class="feedin">
            <i class="iconfont icon-add"></i>
        </div>
    </div>
    <div class="integral" style="border-bottom: 1px solid #bbb;">
        <span>票证核销后赠送给用户的积分</span>
        <span>可用积分：<span style="color:#73B81F;" id="jifen"></span></span>
    </div>
    <div class="yh-group" style="border: none;">
        <span class="l">选择管理员</span>
        <span>请在机构成员中选择</span>
    </div>
    <div class="companybox" style="border-bottom: 1px solid #bbb;">
        <div class="yh-group-company" v-for="(item, index) in addFrom.userInfoList" :key="index">
            <span>{{item.realName}}</span>
            <div>
                <span style="padding-right: 50px;">{{item.mobile}}</span>
                <span class="iconfont icon-cha1" @click="delcompany(index)"></span>
            </div>
        </div>
    </div>
    <!-- 主办搜索开始 -->
    <div class="searchcompany">
        <div class="screenButList">
            <input type="text" id="activityUniteParamName" placeholder="请输入机构名称进行查询" v-model="searchContent"><i @click="search(searchContent)" class="iconfont icon-fangdajing"></i>
        </div>
        <ul class="warp_company">
            <li class="unitLi" v-for="(item, index) in companyList">
                <div :class="{companyname:item.checked}" @click="toggleClass(item)">
                    <span>{{item.realName}}</span>
                    <span>{{item.mobile}}</span>
                </div>
            </li>
        </ul>
    </div>
    <!-- 搜索结束 -->
    <button class="submit-btn-tint" @click="submit">保存提交</button>
    <!--地点开始-->
    <div class="warp_ci">

    </div>
    <!--地点结束-->
    <!---- 地图开始 ---->
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=uRhBKfzW36pGW8KGkyAhpwXDYwmjNcZP&s=1"></script>
    <div class="warp_ifrem" style="background-color: #ffffff;">

    </div>
    <!---- 地图结束 ---->
    <script type="text/javascript" src="../wap/Layer.m/layer.js"></script>
</div>
</body>
<script type="text/javascript" src="../wap/js/jquery.js"></script>
<script type="text/javascript" src="../wap/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../wap/js/config.js"></script>
<script type="text/javascript" src="../wap/js/prjvorg/prjvorg.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="../wap/js/act/act.js"></script>
<script>
var vueIM = new Vue({
    el: '#setadministrator',
    data () {
        return {
            newIndex: 10,
            companyList: null,
            searchContent: '',
            addFrom: {
                activityCode: sessionStorage.getItem('activityCode'), // 活动一号通
                sectionCode: null, // 场次标识 新增场次不用传值
                day: sessionStorage.getItem('postime'), // 场次日期
                startTime: sessionStorage.getItem('.start_time' + this.getUrlParam('adminid')), // 开始时间
                endTime: sessionStorage.getItem('.end_time' + this.getUrlParam('adminid')), // 结束时间
                orgCode: JSON.parse(localStorage.getItem('appUserInfo')).cookieResp.un && 'BBA119945', // 法人三类标识
                arriveAddressId: null, // 票证地址
                point: null, // 赠送积分
                content: null, // 工作内容
                userInfoList: [],
            },
            userInfoList: [] // 用户信息List
        }
    },
    mounted () {
        this.getIntegral();
        JSON.parse(sessionStorage.getItem("adminid"+this.getUrlParam('adminid'))) && (this.addFrom = JSON.parse(sessionStorage.getItem("adminid"+this.getUrlParam('adminid'))));
    },
    methods: {
        getUrlParam (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        },
        // 积分
        getIntegral () {
            $.ajax({
                xhrFields: {
                    withCredentials: true
                },
                type: 'post',
                url: base_url + "html5/v1/orgPlace/queryOrgByPrjvOrgId",
                data: JSON.stringify({"prjvOrgId": prjvorgMsg.prjvOrgId}),
                dataType:'json',
                headers : {'token':token},
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.code == 0) {
                        $('#jifen').text(data.data.integral);
                    }
                }
            });
        },
        // 搜索公司
        search (searchContent) {
            var that = this;
            $.ajax({
                url: base_url + '/html5/v1/orgPlace/queryMembersForVerify',
                type: "post",
                dataType: "json",
                data: "{\"prjvOrgId\":\"" + prjvorgMsg.prjvOrgId + "\", \"pageNumber\": 1, \"pageSize\": 6, \"searchContent\":\""+searchContent+"\" }",
                headers: {'Content-Type': 'application/json'},
                success: function (resp) {
                    if (resp.code == 0) {
                        that.companyList = resp.data.records;
                    }
                }
            });
        },
        toggleClass (item) {
            if (typeof item.checked == 'undefined') {
                this.$set(item, "checked", true)
            } else {
                item.checked = !item.checked
            }
            this.addFrom.userInfoList = [];
            this.companyList.map((item)=>{
                if (item.checked) {
                    this.addFrom.userInfoList.push({
                        realName: item.realName,
                        mobile: item.mobile,
                        headImg: item.headUrl,
                        user: item.prjvUserId
                    });
                }
            });
        },
        // 删除
        delcompany (index) {
            this.addFrom.userInfoList.splice(index, 1);
        },
        // 提交
        submit () {
            this.addFrom.arriveAddressId = $('#addressId').val();
            var that = this;
            $.ajax({
                url: base_url + '/html5/v2/activity/sectionManager/add',
                type: "post",
                dataType: "json",
                data: JSON.stringify(that.addFrom),
                headers: {'Content-Type': 'application/json'},
                success: function (resp) {
                    if (resp.code == 0) {
                        console.log(resp.data.sectionCode);
                        sessionStorage.setItem("adminid"+that.getUrlParam('adminid'), JSON.stringify(that.addFrom));
                        sessionStorage.setItem(that.getUrlParam('sectionCode'), resp.data.sectionCode);
                    } else {
                        layer.open({
                            content: resp.msg,
                            skin: 'msg',
                            time: 1
                        });
                    }
                }
            });
        }
    },
})
</script>
</html>
