<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>填写活动信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/ticketinformation.css"/>
    <link rel="stylesheet" type="text/css" href="../wap/css/index.css" />
    <script type="text/javascript" src="js/rem.js"></script>
    <style>
        .warp_ci {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            position: fixed;
            left: 100%;
            top: 0;
            background: #FFFFFF;
            z-index: 99
        }
        .warp{
            width: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div id="ticketinformation">
    <header class="mint-header">
        <div class="mint-header-button text-l"><a class="icon-back" href="javascript:history.go(-1);"></a></div>
        <h1 class="mint-header-title">票证信息</h1>
        <div class="mint-header-button text-r"></div>
    </header>
    <div v-if="!getUrlParam('pubCode')" v-cloak>
        <div class="period">场次：{{addFrom.day}} {{addFrom.startTime}}-{{addFrom.endTime}}</div>
        <div v-if="publicParamList.length == 0" class="addele" style="padding-left: 0.8rem;" @click="addnewticket"><i class="iconfont icon-tianjiajiahaowubiankuang"></i><span>添加新票证</span></div>
    </div>
    <div v-if="getUrlParam('pubCode')" style="margin-top: 1rem;"></div>
    <div class="addticketbox" v-for="(item, index) in publicParamList" :key="index">
        <div class="addtickettitle" v-if="!getUrlParam('pubCode')" v-cloak>
            <span class="fl" @click="addnewticket" v-if="index == 0"><i class="iconfont icon-tianjiajiahaowubiankuang"></i><span>添加新票证</span></span>
            <span class="fr"><span style="color:#F0676C;" @click="delnewticket(index)">删除</span></span>
        </div>
        <div class="addticketinfo">
            <div class="yh-group">
                <span class="l">票证名称</span>
                <div><input type="text" placeholder="例：公众门票/嘉宾证/媒体证" maxlength="15" v-model="item.name"><i class="iconfont icon-youjiantou"></i></div>
            </div>
            <div class="yh-group">
                <span class="l">票证地点{{item.publicAddressId}}</span>
                <a href="javascript:;" class="warp_dd" @click="warpdd('publicAddressId', index)">
                    <textarea style="width: 200px;" :id="`address${index}`" class="address" placeholder="请选择" readonly="readonly" disabled="disabled"></textarea>
                </a>
                <!-- <input type="hidden" id="lat" value="">
                <input type="hidden" id="lng" value="">
                <input type="hidden" id="addressId"> -->
            </div>
            <div class="yh-group" style="border: none">
                <span class="l">积分赠送<span style="color:#bbbbbb;">（每人每次）</span></span>
                <div class="jiajian">
                    <i class="iconfont icon-icon_weitijiao" @click="subtractNumber(index, 'inIntegral')"></i>
                    <input type="number" class="feedin" min="0" v-model="item.inIntegral">
                    <i class="iconfont icon-add" @click="addNumber(index, 'inIntegral')"></i>
                </div>
            </div>
            <div class="integral">
                <span>票证核销后赠送给用户的积分</span>
                <span>可用积分：<span style="color:#73B81F;" id="jifen"></span></span>
            </div>
            <div class="getway">
                <span :class="{ active: item.publicApply==10 }" @click="toggleTabs(10, item)">公开领取</span><span :class="{ active: item.publicApply==20 }" @click="toggleTabs(20, item)">指定发放</span>
            </div>
            <!-- 公开领取 -->
            <div v-if="item.publicApply==10">
                <div class="yh-group">
                    <span class="l">票证数量</span>
                    <div class="jiajian">
                        <i class="iconfont icon-icon_weitijiao" @click="subtractNumber(index, 'total')"></i>
                        <input type="number" class="feedin" min="1" v-model="item.total">
                        <i class="iconfont icon-add" @click="addNumber(index, 'total')"></i>
                    </div>
                </div>
                <div class="yh-group" style="border: none;">
                    <span class="l">票证积分价格</span>
                    <div class="jiajian">
                        <i class="iconfont icon-icon_weitijiao"  @click="subtractNumber(index, 'outIntegral')"></i>
                        <input type="number" class="feedin" min="0" v-model="item.outIntegral">
                        <i class="iconfont icon-add"  @click="addNumber(index, 'outIntegral')"></i>
                    </div>
                </div>
                <div class="integral" style="border-bottom: 1px solid #BBBBBB;">
                    <span style="padding-bottom: 5px;">用户领取票证时需支付的积分</span>
                </div>
                <div class="yh-group">
                    <span class="l" style="line-height: 32px;">领取需审核{{item.audit}}</span>
                    <div class="testswitch">
                        <input class="testswitch-checkbox" :id='"examined"+index' type="checkbox" v-model="item.audit" true-value="10" false-value="20">
                        <label class="testswitch-label" :for='"examined"+index'>
                            <span class="testswitch-inner"></span>
                            <span class="testswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="member">
                    <span>领取成员</span>
                    <span><input type="radio" class="yh-radio" value="10" v-model="item.isOpen" :id='"allMembers"+index'><label :for='"allMembers"+index' class="yh-rlable">全平台机构成员</label></span>
                    <span><input type="radio" class="yh-radio" value="20" v-model="item.isOpen" :id='"appointMembers"+index'><label :for='"appointMembers"+index' class="yh-rlable">指定机构成员</label></span>
                </div>
                <div v-if="item.isOpen == 20">
                    <div class="yh-group">
                        <span class="l" style="line-height: 32px;">本机构成员{{item.selfOrg}}</span>
                        <div class="testswitch">
                            <input class="testswitch-checkbox" :id='"myMembers"+index' type="checkbox" v-model="item.selfOrg" true-value="10" false-value="20">
                            <label class="testswitch-label" :for='"myMembers"+index'>
                                <span class="testswitch-inner" data-on="" data-off=""></span>
                                <span class="testswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="yh-group">
                        <span class="l" style="line-height: 32px;">活动参与方成员</span>
                        <div class="testswitch">
                            <input class="testswitch-checkbox" :id='"partyMembers"+index' type="checkbox" v-model="item.unitOrg" true-value="10" false-value="20">
                            <label class="testswitch-label" :for='"partyMembers"+index'>
                                <span class="testswitch-inner" data-on="" data-off=""></span>
                                <span class="testswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="yh-group" style="border: none;" @click="showHide(item.pubCode)">
                        <span class="l">指定机构成员领取</span>
                        <span class="ricon">请选择<i class="iconfont" :class="IsPubCode == item.pubCode ? 'icon-icon_xia' : 'icon-icon_you'"></i></span>
                    </div>
                    <div class="companybox" style="border-bottom: 1px solid #bbb;">
                        <div class="yh-group-company" v-for="(item1, index1) in item.companyShow" :key="index1">
                            <span>{{item1.assignOrgName}}</span>
                            <span class="iconfont icon-cha1" @click="delcompany(item.companyShow, index1)"></span>
                        </div>
                    </div>
                    <!-- 主办搜索开始 -->
                    <div class="searchcompany" v-if="IsPubCode == item.pubCode">
                        <div class="screenButList">
                            <input type="text" id="activityUniteParamName" placeholder="请输入机构名称进行查询"><i @click="search" class="iconfont icon-fangdajing search_button"></i>
                        </div>
                        <ul class="warp_company">
                            <li v-for="(item2, index2) in companyList" :key="index2">
                                <div :class="{companyname:item2.checked}" @click="toggleClass(item, item2)">{{item2.name}}</div>
                            </li>
                        </ul>
                    </div>
                    <!-- 搜索结束 -->
                </div>
            </div>
            <!-- 指定发放 -->
            <div v-if="item.publicApply==20">
                <div class="tishi">如指定用户是系统中已实名注册用户，在Ta的个人订单中将会生成一张票证订单；如指定用户是非系统实名用户，系统将会以短信形式发送给Ta。</div>
                <div v-if="item.publicApplyVoList && item.publicApplyVoList.length == 0" class="addtickettitle" @click="addnewUser(index)"><i class="iconfont icon-tianjiajiahaowubiankuang"></i>添加新用户</div>
                <div v-for="(item1, index1) in item.publicApplyVoList" :key="index1">
                    <div class="addtickettitle">
                        <span class="fl" v-if="index1 == 0"  @click="addnewUser(index)"><i class="iconfont icon-tianjiajiahaowubiankuang"></i>添加新用户</span>
                        <span class="fr" @click="delUser(index, index1)" style="color:#F0676C;">删除</span>
                    </div>
                    <div class="yh-group">
                        <span class="l">手机号</span>
                        <input type="text" v-model="item1.mobile" maxlength="11" @input="matePhone($event, index, index1)" placeholder="请填写">
                    </div>
                    <div class="yh-group">
                        <span class="l">姓名</span>
                        <input type="text" v-model="item1.nickName" placeholder="请填写">
                    </div>
                    <div class="yh-group">
                        <span class="l">所在单位名称</span>
                        <input type="text" v-model="item1.unit" placeholder="选填">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button v-if="this.getUrlParam('add')" class="submit-btn" @click="submit">保存提交</button>
    <!-- 修改 -->
    <button v-if="!this.getUrlParam('add')" class="submit-btn" @click="amendsubmit">保存提交1</button>
    <!--地点开始-->
    <div class="warp_ci">

    </div>
    <!--地点结束-->
    <!---- 地图开始 ---->
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=uRhBKfzW36pGW8KGkyAhpwXDYwmjNcZP&s=1"></script>
    <div class="warp_ifrem" style="background-color: #ffffff;">

    </div>
    <!---- 地图结束 ---->
    <script type="text/javascript" src="../wap/Layer.m/layer.js"></script>
</div>
<script type="text/javascript" src="../wap/js/jquery.js"></script>
<script type="text/javascript" src="../wap/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../wap/js/config.js"></script>
<script type="text/javascript" src="../wap/js/prjvorg/prjvorg.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/act.js"></script>
<script>
var vueIM = new Vue({
    el: '#ticketinformation',
    data () {
        return {
            newIndex: 10,
            companyList: null,
            IsPubCode: null,
            companyShow: [],
            Ishow: false,
            sectionCodeList: {},
            addFrom: {
                activityCode: this.getUrlParam('activityCode'), // 活动一号通
                sectionCode: this.getUrlParam('sectionCode'), // 场次标识 新增场次不用传值
                day: this.getUrlParam('day'), // 场次日期
                startTime: this.getUrlParam("startTime"), // 开始时间
                endTime: this.getUrlParam("endTime"), // 结束时间
                orgCode: JSON.parse(localStorage.getItem('appUserInfo')).cookieResp.un && 'BBA119945', // 法人三类标识
            },
            publicParamList: [
                    {
                        pubCode: "", // 票证唯一标识
                        assignOrgCode: '', // 指定其他机构标识
                        assignOrgName: '', // 指定其他机构
                        publicApply: '10', // 公开领取标识	10是20直接发放
                        isOpen: '10', // 领取范围 10全平台20指定机构
                        audit: null, // 需审核 10是20否
                        inIntegral: 0, // 赠送积分
                        name: null, // 票证名称
                        outIntegral: 0, // 支付积分
                        publicAddressId: null, // 票证地址
                        publicAddress: null, // 票证地址
                        selfOrg: null, // 指定本机构
                        unitOrg: null, // 指定参与方机构 10是20否
                        total: 1, // 数量
                        companyShow: [], // 机构 自定义存放的
                        publicApplyVoList: [
                            {
                                applyCode: "", // 报名记录标识	false	string	删除必传
                                headImg: '', // 头像
                                mobile: '', // 电话
                                nickName: '', // 昵称
                                unit:'', // 单位名称
                                user: '' // 用户 新增系统用户必传
                            }
                        ]
                    }
                ] //票证
        }
    },
    created () {
        this.getIntegral();
        this.getSectionPublic();
    },
    methods: {
        getUrlParam (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        },
        // 修改获得数据票证列表
        getSectionPublic () {
            var that = this;
            $.ajax({
                xhrFields: {
                    withCredentials: true
                },
                type: 'post',
                url: base_url + "html5/v2/activity/sectionPublic/getPage",
                data: JSON.stringify({"sectionCode": that.getUrlParam("sectionCode"), current: 1, size: 20}),
                dataType:'json',
                headers : {'token':token},
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.code == 0) {
                        console.log(data.data);
                        if (data.data.records.length > 0) {
                            if (that.getUrlParam("pubCode")) {
                                let arrList = [];
                                data.data.records.map((item) => {
                                    console.log(item.pubCode);
                                    if (item.pubCode == that.getUrlParam("pubCode")) {
                                        arrList.push(item);
                                    }
                                });
                                that.publicParamList = arrList;
                            } else {
                                that.publicParamList = data.data.records;
                            }
                            that.publicParamList.map((item) => {
                                if (item.assignOrgCode) {
                                    item.assignOrgCode = item.assignOrgCode.replace(/,+$/,"").split(",");
                                    item.assignOrgName = item.assignOrgName.replace(/,+$/,"").split(",");
                                }
                                item.companyShow = [];
                                console.log(item.assignOrgCode);
                                for (var i = 0; i < item.assignOrgCode.length; i++) {
                                    item.companyShow[i] = {
                                        assignOrgName: item.assignOrgName[i],
                                        assignOrgCode: item.assignOrgCode[i]
                                    }
                                }
                            });
                            that.$nextTick(()=>{
                                that.publicParamList.map((item, index) => {
                                    $("#address" + index).val(item.publicAddress);
                                });
                            });
                        }
                    }
                }
            });
        },
        // 获取积分
        getIntegral () {
            $.ajax({
                xhrFields: {
                    withCredentials: true
                },
                type: 'post',
                url: base_url + "html5/v1/orgPlace/queryOrgByPrjvOrgId",
                data: JSON.stringify({"prjvOrgId": prjvorgMsg.prjvOrgId}),
                dataType:'json',
                headers : {'token':token},
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.code == 0) {
                        $('#jifen').text(data.data.integral);
                    }
                }
            });
        },
        // 添加新场次
        addnewticket () {
            this.publicParamList.unshift({
                pubCode: "", // 票证唯一标识
                assignOrgCode: '', // 指定其他机构标识
                assignOrgName: '', // 指定其他机构
                publicApply: '10', // 公开领取标识	10是20直接发放
                isOpen: '10', // 领取范围 10全平台20指定机构
                audit: null, // 需审核 10是20否
                inIntegral: 0, // 赠送积分
                name: null, // 票证名称
                outIntegral: 0, // 支付积分
                publicAddressId: null, // 票证地址
                publicAddress: null, // 票证地址
                selfOrg: null, // 指定本机构
                unitOrg: null, // 指定参与方机构 10是20否
                total: 1 , // 数量
                publicApplyVoList: [
                    {
                        applyCode: "", // 报名记录标识	false	string	删除必传
                        headImg: '', // 头像
                        mobile: '', // 电话
                        nickName: '', // 昵称
                        unit:'', // 单位名称
                        user: '' // 用户 新增系统用户必传
                    }
                ]
            });
            console.log(this.publicParamList);
            this.publicParamList.map((item, index) => {
                this.$nextTick(() => {
                    $("#address" + index).val(item.publicAddress);
                })
            });
        },
        // 删除场次
        delnewticket (index) {
            console.log(index);
            this.publicParamList.splice(index, 1);
        },
        // 添加新票证
        addnewUser (index) {
            this.publicParamList[index].publicApplyVoList.unshift({
                applyCode: "", // 报名记录标识	false	string	删除必传
                headImg: '', // 头像
                mobile: '', // 电话
                nickName: '', // 昵称
                unit:'', // 单位名称
                user: '' // 用户 新增系统用户必传
            });
        },
        // 删除用户
        delUser (index, index1) {
            console.log(index, index1);
            console.log(this.publicParamList[index].publicApplyVoList[index1]);
            this.publicParamList[index].publicApplyVoList.splice(index1, 1);
        },
        // 地点
        warpdd (publicAddressId, index) {
            var that = this;
            that.index = index;
            console.log(that.publicParamList[index][publicAddressId]);
            $('.warp_ci').load('./act_addr_list.html');
            user_addr_list();

            if(window.innerWidth>640){
                $(".warp_ci").animate({left:"50%",marginLeft:'-320px'})
            }else{
                $(".warp_ci").animate({left:"0"})
            }
            //点击已有地址触发事
            $(".warp_pws_v_sy li div").live('click',function(item){
                var id = $(this).parent().attr('data-id');
                var name = $(this).parent().attr('data-name');
                var address = $(this).parent().attr('data-address');
                var lat = $(this).parent().attr('data-lat');
                var lng = $(this).parent().attr('data-lng');
                if($("#edit_address").val()=="true"){
                    $('.addr11').parent().find("#job_lat").val(lat);
                    $('.addr11').parent().find("#job_lng").val(lng);
                    $('.addr11').parent().find(".cnowiucioq").text(name);
                    $('.addr11').parent().find("#address").val(name);
                }else{
                    //此处信息为
                    // $("#lat").val(lat);
                    // $("#lng").val(lng);
                    // //$("#address").val(data1.name);
                    // $(".address").text(address);
                    // $("#job_address").val(address);
                    // $("#job_lng").val(lng);
                    // $("#job_lat").val(lat);
                    // $(".addr11").text(address);
                    $("#address" + that.index).val(name);
                    // $("#addressId").val(id);
                    that.publicParamList[that.index][publicAddressId] = id;
                    that.publicParamList[that.index].publicAddress = name;
                    console.log(that.publicParamList);
                }
                $(".warp_ci").animate({left:"200%"});
            })
        },
        // 加减
        addNumber (index, key) {
            this.publicParamList[index][key]++

        },
        // 加减
        subtractNumber (index, key) {
            console.log(index, key);
            this.publicParamList[index][key]--
            if (this.publicParamList[index][key] < 0) {
                this.publicParamList[index][key] = 0;
            }
        },
        // 公开领取10 指定发放20
        toggleTabs (index, item) {
            this.newIndex = index;
            item.publicApply = index;
        },
        // 是否选择公司
        showHide (pubCode) {
            this.IsPubCode = pubCode;
        },
        // 搜索公司
        search () {
            var that = this;
            $.ajax({
                url: base_url + '/html5/v1/orgPlace/queryTotalListByName',
                type: "post",
                dataType: "json",
                data: "{\"name\":\"" + $("#activityUniteParamName").val() + "\", \"pageNumber\": 1, \"pageSize\": 6, \"orgThirdAccount\":\""+that.addFrom.orgCode+"\" }",
                headers: {'Content-Type': 'application/json'},
                success: function (resp) {
                    if (resp.code == 0) {
                        that.companyList = resp.data.records;
                        // $(".warp_company").html("");
                        // for (var i in record) {
                        //     $(".warp_company").append(`<li>
                        //         <span data-orgId="${record[i].id}" data-type="${record[i].type}" data-orgName="${record[i].name}" data-orgCode="${record[i].orgThirdAccount}">${record[i].name}</span>
                        //     </li>`);
                        // }
                        // $(".warp_company li span").click(function() {
                        //     $(this).toggleClass('companyname');
                        // });
                    }
                }
            });
        },
        // 选择公司
        toggleClass (item, item2) {
            console.log(item, item2);
            if (typeof item2.checked == 'undefined') {
                this.$set(item2, "checked", true)
            } else {
				item2.checked = !item2.checked
			}
            item.companyShow = [];
            this.companyList.map((item3)=>{
                if (item3.checked) {
                    item.companyShow.push({
                        assignOrgName: item3.name,
                        assignOrgCode: item3.orgThirdAccount
                    });
                }
            });
            console.log(item);
        },
        // 删除
        delcompany (item1, index1) {
            this.$nextTick(() =>{
                item1.splice(index1, 1);
            })
            this.$forceUpdate();
        },
        // 匹配手机号
        matePhone (e, index, index1) {
            let reg = /^1[3456789]\d{9}$/;
            console.log(e.target.value.length==11);
            if (e.target.value.length==11) {
                if (!reg.test(e.target.value)) {
                    e.target.value = "";
                    layer.open({
                        content: "请输入正确的手机号",
                        skin: 'msg',
                        time: 1
                    });
                    return false;
                } else {
                    var that = this;
                    $.ajax({
                        xhrFields: {
                            withCredentials: true
                        },
                        type: 'post',
                        url: base_url + "html5/v1/user/queryGyshUser",
                        data: JSON.stringify({"mobile": e.target.value}),
                        dataType:'json',
                        headers : {'token':token},
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            console.log(data)
                            if (data.code == 0) {
                                if(data.data==''){
                                    layer.open({
                                        content: "该用户为非系统实名用户",
                                        skin: 'msg',
                                        time: 1
                                    });
                                }else{
                                    that.publicParamList[index].publicApplyVoList[index1].headImg = data.data.headImg;
                                    that.publicParamList[index].publicApplyVoList[index1].nickName = data.data.realName;
                                    that.publicParamList[index].publicApplyVoList[index1].user = data.data.prjvUserId;
                                }
                            }
                        }
                    });
                }
            }
        },
        // 提交
        submit () {
            this.publicParamList.map((item, index)=>{
                this.publicParamList[index].assignOrgName = "",
                this.publicParamList[index].assignOrgCode = "",
                this.publicParamList[index].companyShow.map((item1, index1)=>{
                    this.publicParamList[index].assignOrgName += item1.assignOrgName + ',';
                    this.publicParamList[index].assignOrgCode += item1.assignOrgCode + ',';
                });
            });
            this.addFrom.publicParamList = this.publicParamList;
            var that = this;
            $.ajax({
                url: base_url + '/html5/v2/activity/sectionPublic/add',
                type: "post",
                dataType: "json",
                data: JSON.stringify(that.addFrom),
                headers: {'Content-Type': 'application/json'},
                success: function (resp) {
                    if (resp.code == 0) {
                        console.log(resp.data.sectionCode);
                        that.sectionCodeList[that.getUrlParam('id')] = resp.data.sectionCode;
                        // window.location.href="./postActivity.html?sectionCode=" + resp.data.sectionCode + "&copy=" + that.getUrlParam('copy');
                        sessionStorage.setItem("ticketCode", JSON.stringify(resp.data.sectionCode));
                    } else {
                        layer.open({
                            content: resp.msg,
                            skin: 'msg',
                            time: 1
                        });
                    }
                }
            });
            console.log(this.publicParamList);
        },
        // 修改提交
        amendsubmit () {
            this.publicParamList.map((item, index)=>{
                this.publicParamList[index].assignOrgName = "",
                this.publicParamList[index].assignOrgCode = "",
                this.publicParamList[index].companyShow.map((item1, index1)=>{
                    this.publicParamList[index].assignOrgName += item1.assignOrgName + ',';
                    this.publicParamList[index].assignOrgCode += item1.assignOrgCode + ',';
                });
            });
            console.log(this.publicParamList);
            var that = this;
            $.ajax({
                url: base_url + '/html5/v2/activity/sectionPublic/update',
                type: "post",
                dataType: "json",
                data: JSON.stringify(that.publicParamList),
                headers: {'Content-Type': 'application/json'},
                success: function (resp) {
                    if (resp.code == 0) {
                        console.log(resp.data.sectionCode);
                        that.sectionCodeList[that.getUrlParam('id')] = resp.data.sectionCode;
                        // window.location.href="./postActivity.html?sectionCode=" + resp.data.sectionCode + "&copy=" + that.getUrlParam('copy');
                        sessionStorage.setItem("sectionCodeList", JSON.stringify(that.sectionCodeList));
                    } else {
                        layer.open({
                            content: resp.msg,
                            skin: 'msg',
                            time: 1
                        });
                    }
                }
            });
        }
    },
})
</script>
</html>
